## С помощью sqlalchemy sql

In [1]:
from sqlalchemy import create_engine,text

In [2]:
my_conn = create_engine('mysql+pymysql://test_de:hfkuasefhihhy@dev-su.eda1.ru/test_de')
my_conn=my_conn.connect() # add this line

In [3]:
query="SELECT table_name FROM information_schema.tables"
my_data=list(my_conn.execute(text(query)))

In [4]:
my_data

[('INNODB_SESSION_TEMP_TABLESPACES',),
 ('INNODB_VIRTUAL',),
 ('INNODB_BUFFER_POOL_STATS',),
 ('INNODB_BUFFER_PAGE',),
 ('INNODB_CMPMEM_RESET',),
 ('INNODB_CMPMEM',),
 ('INNODB_TRX',),
 ('INNODB_CMP_PER_INDEX_RESET',),
 ('INNODB_CMP_RESET',),
 ('INNODB_FT_DEFAULT_STOPWORD',),
 ('INNODB_CMP',),
 ('INNODB_TABLES',),
 ('INNODB_FT_BEING_DELETED',),
 ('INNODB_METRICS',),
 ('INNODB_TEMP_TABLE_INFO',),
 ('INNODB_FT_DELETED',),
 ('INNODB_CACHED_INDEXES',),
 ('INNODB_COLUMNS',),
 ('INNODB_FT_INDEX_TABLE',),
 ('INNODB_TABLESTATS',),
 ('INNODB_BUFFER_PAGE_LRU',),
 ('INNODB_CMP_PER_INDEX',),
 ('INNODB_FT_CONFIG',),
 ('INNODB_FT_INDEX_CACHE',),
 ('INNODB_INDEXES',),
 ('INNODB_TABLESPACES',),
 ('COLUMN_PRIVILEGES',),
 ('ENGINES',),
 ('OPTIMIZER_TRACE',),
 ('PLUGINS',),
 ('PROCESSLIST',),
 ('PROFILING',),
 ('SCHEMA_PRIVILEGES',),
 ('TABLESPACES',),
 ('TABLE_PRIVILEGES',),
 ('USER_PRIVILEGES',),
 ('CHARACTER_SETS',),
 ('CHECK_CONSTRAINTS',),
 ('COLLATIONS',),
 ('COLLATION_CHARACTER_SET_APPLICABILITY',),
 ('COLUMNS',),
 ('COLUMNS_EXTENSIONS',),
 ('COLUMN_STATISTICS',),
 ('EVENTS',),
 ('FILES',),
 ('INNODB_DATAFILES',),
 ('INNODB_FOREIGN',),
 ('INNODB_FOREIGN_COLS',),
 ('INNODB_FIELDS',),
 ('INNODB_TABLESPACES_BRIEF',),
 ('KEY_COLUMN_USAGE',),
 ('KEYWORDS',),
 ('PARAMETERS',),
 ('PARTITIONS',),
 ('REFERENTIAL_CONSTRAINTS',),
 ('RESOURCE_GROUPS',),
 ('ROUTINES',),
 ('SCHEMATA',),
 ('SCHEMATA_EXTENSIONS',),
 ('ST_SPATIAL_REFERENCE_SYSTEMS',),
 ('ST_UNITS_OF_MEASURE',),
 ('ST_GEOMETRY_COLUMNS',),
 ('STATISTICS',),
 ('TABLE_CONSTRAINTS',),
 ('TABLE_CONSTRAINTS_EXTENSIONS',),
 ('TABLES',),
 ('TABLES_EXTENSIONS',),
 ('TABLESPACES_EXTENSIONS',),
 ('TRIGGERS',),
 ('VIEW_ROUTINE_USAGE',),
 ('VIEW_TABLE_USAGE',),
 ('VIEWS',),
 ('ENABLED_ROLES',),
 ('APPLICABLE_ROLES',),
 ('ADMINISTRABLE_ROLE_AUTHORIZATIONS',),
 ('ROLE_COLUMN_GRANTS',),
 ('ROLE_ROUTINE_GRANTS',),
 ('ROLE_TABLE_GRANTS',),
 ('USER_ATTRIBUTES',),
 ('guest',),
 ('order_details',),
 ('orders',),
 ('users',)]

In [5]:
query="SELECT * FROM guest"
my_data=list(my_conn.execute(text(query)))

In [6]:
#узнаю название полей

In [7]:
my_conn.execute(text("SELECT * FROM guest")).keys()

RMKeyView(['id', 'name'])

In [8]:
my_conn.execute(text("SELECT * FROM orders")).keys()

RMKeyView(['id', 'guest_id', 'order_date'])

In [9]:
my_conn.execute(text("SELECT * FROM order_details")).keys()

RMKeyView(['id', 'order_id', 'product_id', 'quantity'])

In [10]:
my_conn.execute(text("SELECT * FROM users")).keys()

RMKeyView(['id', 'name', 'birthday'])

In [113]:
query="""SELECT product_id, sum(quantity)
        FROM order_details 
        group by product_id 
        order by count(quantity) DESC
        limit 1
        """
product=list(my_conn.execute(text(query)))

In [114]:
product

[(33, Decimal('45505'))]

In [115]:
query="""SELECT q.id,q.name, sum(od.quantity) 

FROM order_details od
left join orders as o on o.id = od.order_id 
left join guest q on q.id = o.guest_id

where od.product_id = (SELECT product_id
        FROM order_details
        group by product_id 
        order by count(quantity) DESC
        limit 1)
group by q.id, q.name
order by sum(od.quantity) DESC
limit 3

        """
guest=list(my_conn.execute(text(query)))

In [116]:
guest

[(12, 'Любовь', Decimal('678')),
 (43, 'Надежда', Decimal('608')),
 (17, 'Вера', Decimal('537'))]

In [118]:
pip install sqlalchemy_schemadisplay

Collecting sqlalchemy_schemadisplay
  Downloading sqlalchemy_schemadisplay-2.0-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: setuptools in /opt/miniconda3/lib/python3.11/site-packages (from sqlalchemy_schemadisplay) (68.0.0)
Requirement already satisfied: sqlalchemy<3,>=2.0 in /opt/miniconda3/lib/python3.11/site-packages (from sqlalchemy_schemadisplay) (2.0.23)
Collecting pydot (from sqlalchemy_schemadisplay)
  Downloading pydot-2.0.0-py3-none-any.whl.metadata (9.6 kB)
Requirement already satisfied: Pillow in /opt/miniconda3/lib/python3.11/site-packages (from sqlalchemy_schemadisplay) (10.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/miniconda3/lib/python3.11/site-packages (from sqlalchemy<3,>=2.0->sqlalchemy_schemadisplay) (4.9.0)
Requirement already satisfied: pyparsing>=3 in /opt/miniconda3/lib/python3.11/site-packages (from pydot->sqlalchemy_schemadisplay) (3.1.1)
Downloading sqlalchemy_schemadisplay-2.0-py3-none-any.whl (11 kB)
Downloading pydot-2.0.0-py3-none-any.whl (22 kB)
Installing collected packages: pydot, sqlalchemy_schemadisplay
Successfully installed pydot-2.0.0 sqlalchemy_schemadisplay-2.0

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [123]:
from sqlalchemy_schemadisplay import create_schema_graph
from sqlalchemy import MetaData

graph = create_schema_graph(my_conn,metadata=MetaData('postgres://test_de:hfkuasefhihhy@dev-su.eda1.ru/test_de'))
graph.write_png('my_erd.png')

OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'postgres://test_de:hfkuasefhihhy@dev-su.eda1.ru/test_de'")
[SQL: SHOW FULL TABLES FROM `postgres://test_de:hfkuasefhihhy@dev-su.eda1.ru/test_de`]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [124]:
from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String

metadata = MetaData()

In [132]:
metadata.__dict__

{'tables': FacadeDict({}),
 'schema': None,
 'naming_convention': immutabledict({'ix': 'ix_%(column_0_label)s'}),
 '_schemas': set(),
 '_sequences': {},
 '_fk_memos': defaultdict(list, {})}

In [131]:
for t in metadata.sorted_tables:
    print(t.name)

## С помощью пандас чтение и вывод sql

In [14]:
import pandas as pd

df = pd.read_sql(
    """
SELECT fa.user_id
FROM "user" u JOIN "feed_action" fa ON fa.user_id = u.id
where action='like'
group by user_id
order by count(action) desc
LIMIT 1
""",
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)

df.head()

   user_id
0   108481

In [11]:
df = pd.read_sql(
    """SELECT f.user_id, count(action)
       FROM "feed_action" as f JOIN "user" u ON f.user_id =u.id 
        where action='like'
        group by user_id
        LIMIT 10
    """,
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df

   user_id  count
0      200    159
1      201     98
2      202     28
3      203     88
4      204     85
5      205    119
6      206     62
7      207     91
8      208     76
9      209    150

## С помощью psycopg2 чтение и вывод sql

In [18]:
# pip install psycopg2 если библиотека не установлена
import psycopg2

In [22]:
connection=psycopg2.connect(database="startml",
                        user="robot-startml-ro",
                        password="pheiph0hahj1Vaif",
                        host="postgres.lab.karpov.courses",
                        port=6432
                     )

In [24]:
with connection.cursor() as cursor:
    cursor.execute("""                   

        SELECT fa.user_id,count(action)
        FROM "user" u JOIN "feed_action" fa ON fa.user_id = u.id
        where action='like'
        group by user_id
        order by count(action) desc
        LIMIT 1

        """)
    results = cursor.fetchall()       # Получаем результаты (fetchall() - "получить всё")
    results

In [29]:
print(results[0][0])

108481

In [ ]:
cursor.close()                  
connection.close()