In [8]:
import pandas as pd
import numpy as np
import random

In [144]:
id=np.arange(1,101,1).astype('int')

In [145]:
second=np.random.choice([1, 0], size=100)

In [146]:
third=np.random.randint(1, 4, size=100).astype('str')

In [147]:
qlick =np.random.randint(1, 11, size=100)

In [148]:
data = pd.DataFrame(np.column_stack((id,third,second,qlick)), columns=['Profile', 'Initiator', 'Result', 'TapCount'])

In [149]:
data['TapCount']=data['TapCount'].astype('int')
data['Result']=data['Result'].astype('int')
data['Result']=data['Result'].astype('bool')

In [150]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Profile    100 non-null    object
 1   Initiator  100 non-null    object
 2   Result     100 non-null    bool
 3   TapCount   100 non-null    int64
dtypes: bool(1), int64(1), object(2)
memory usage: 2.6+ KB

In [151]:
data.groupby('Initiator').agg({'Profile':'nunique'})

           Profile
Initiator
1               39
2               38
3               23

Как вывести долю в % успешных и неуспешных показов для каждого рекламного источника?

In [176]:
answer = data.groupby('Initiator').agg({'Result':['sum','count']})

# Убираем мультиндекс и переименовываем столбцы
answer.columns = ['_'.join(col).strip() for col in answer.columns.values]
answer = answer.reset_index()

# считаем долю в % для каждого рекл источника
answer['success'] = round((answer['Result_sum'] / answer['Result_count']) *100,2)
answer['unsuccess'] = round(((answer['Result_count']-answer['Result_sum']) / answer['Result_count']) *100,2)

answer

  Initiator  Result_sum  Result_count  success  unsuccess
0   source1           2             3    66.67      33.33
1   source2           1             2    50.00      50.00

In [175]:
import pandas as pd

# Пример данных
data = pd.DataFrame({
    'Profile': ['user1', 'user2', 'user3', 'user1', 'user4'],
    'Initiator': ['source1', 'source1', 'source2', 'source1', 'source2'],
    'Result': [1, 0, 1, 1, 0],
    'TapCount': [5, 3, 2, 4, 1]
})

# Количество уникальных пользователей для каждого рекламного источника
unique_users_count = data.groupby('Initiator')['Profile'].nunique().reset_index()
unique_users_count.rename(columns={'Profile': 'UniqueUsersCount'}, inplace=True)

# Считаем общее количество показов и успешные/неуспешные показы
result_stats = data.groupby('Initiator').agg(
    TotalViews=('Result', 'size'),
    SuccessfulViews=('Result', 'sum'),
    UnsuccessfulViews=('Result', lambda x: (x == 0).sum())
).reset_index()

# Вычисляем долю успешных и неуспешных показов в %
result_stats['SuccessfulPercentage'] = (result_stats['SuccessfulViews'] / result_stats['TotalViews']) * 100
result_stats['UnsuccessfulPercentage'] = (result_stats['UnsuccessfulViews'] / result_stats['TotalViews']) * 100

# Переименуйте столбцы для ясности
result_stats.rename(columns={
    'TotalViews': 'TotalViewsCount',
    'SuccessfulViews': 'SuccessfulViewsCount',
    'UnsuccessfulViews': 'UnsuccessfulViewsCount'
}, inplace=True)

# Объединяем результаты
final_result = pd.merge(result_stats, unique_users_count, on='Initiator')

print(final_result)

  Initiator  TotalViewsCount  SuccessfulViewsCount  UnsuccessfulViewsCount  \
0   source1                3                     2                       1
1   source2                2                     1                       1

   SuccessfulPercentage  UnsuccessfulPercentage  UniqueUsersCount
0             66.666667               33.333333                 2
1             50.000000               50.000000                 2