# pyspark наработки

In [6]:
#Initializing PySpark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext

изначально нужен зачем-то

In [7]:
#Spark Config

conf = SparkConf().setAppName("sample_app")

sc = SparkContext(conf=conf)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/13 17:01:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## sql context?

загружает ДФ в формате таблице sql, добавляя Spark config.

In [8]:
sqlContext = SQLContext(sc)

df = sqlContext.read.csv('transactions.csv',
                         header=True)
# header добавляет имена столбцов из ДФ 0 строки.

/opt/miniconda3/lib/python3.11/site-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [9]:
# Displays the content of the DataFrame to stdout
df.show()

+-----------+------------+--------+-------+----------+-------+
|customer_id| tr_datetime|mcc_code|tr_type|    amount|term_id|
+-----------+------------+--------+-------+----------+-------+
|   79780256| 37 13:36:14|    4814|   1030|  -3144.28|   NULL|
|   79780256| 39 10:16:49|    4814|   1030|  -5614.79|   NULL|
|   79780256| 44 09:41:33|    6011|   2010|-112295.79|   NULL|
|   79780256| 44 09:42:44|    6011|   2010| -67377.47|   NULL|
|   79780256| 51 08:53:56|    4814|   1030|  -1122.96|   NULL|
|   79780256| 51 08:55:09|    4814|   1030|  -2245.92|   NULL|
|   79780256| 58 11:18:31|    6011|   2010| -67377.47|   NULL|
|   79780256| 59 12:29:60|    6011|   2010| -22459.16|   NULL|
|   79780256| 62 15:44:60|    4814|   1030|  -3368.87|   NULL|
|   79780256| 62 15:46:24|    4814|   1030|  -2245.92|   NULL|
|   79780256| 65 06:20:50|    6011|   2010| -44918.32|   NULL|
|   79780256| 71 11:18:04|    6011|   2010| -89836.63|   NULL|
|   79780256| 78 10:38:15|    6011|   2010| -78607.05|   NULL|
|   79780256| 81 12:27:22|    6011|   2010|-303198.63|   NULL|
|   79780256| 89 02:34:24|    6011|   2010| -67377.47|   NULL|
|   79780256| 89 05:11:41|    4814|   1030|  -5614.79|   NULL|
|   79780256| 94 07:42:36|    4814|   1030|  -3368.87|   NULL|
|   79780256| 98 02:36:08|    6011|   2010| -22459.16|   NULL|
|   79780256|103 02:20:18|    6011|   2010| -26950.99|   NULL|
|   79780256|104 13:01:44|    6011|   2010|-141492.69|   NULL|
+-----------+------------+--------+-------+----------+-------+
only showing top 20 rows

# ошибки и пути обхода

в случае runtime error нужно проверить version java в терминале, если пусто, то нужно скачать  java jdk 8 .