# задачи по sql

Выполнил Полуесов Андрей.

In [1]:
pip install faker

Requirement already satisfied: faker in /opt/miniconda3/lib/python3.11/site-packages (25.0.1)
Requirement already satisfied: python-dateutil>=2.4 in /opt/miniconda3/lib/python3.11/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# import image module 
from IPython.display import Image 
from faker import Faker
import numpy as np
import pandas as pd
import sqlite3

Вы работаете с базой данных, состоящей из двух таблиц. Схема базы данных представлена на рисунке.
Вы можете создать такую базу данных на своем компьютере для отладки запросов. 
Вам необходимо написать 9 запросов, ровно по одному запросу на каждый из пунктов ниже. 
Пункты расположены в порядке увеличения сложности.

In [3]:
# get the image 
Image(url="sql.png", width=300, height=300)

* pk – primary key, уникальный идентификатор таблицы
* Fk – foreign key, вторичный ключ для связывания с другой таблицей по pk.
* CHEEF_ID – это атрибут содержащий идентификатор сотрудника, который является руководителем, foreign key на таблицу EMPLOYEE.

<b>Сначала создадим таблицы , затем заполним их, после начнем решать задачи </b>

# Cоздадим таблицы

### department

In [4]:
# Подключение к базе данных (если базы данных не существует, она будет создана)
conn = sqlite3.connect('test.db')

# Создание курсора для выполнения операций с базой данных
cursor = conn.cursor()

# Создание таблицы
cursor.execute('''CREATE TABLE IF NOT EXISTS department (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name VARCHAR(100)
)''')

# Сохранение изменений и закрытие соединения
conn.commit()
conn.close()

### employee

In [5]:
# Подключение к базе данных
conn = sqlite3.connect('test.db')

# Создание курсора для выполнения операций с базой данных
cursor = conn.cursor()

# Создание таблицы employee
cursor.execute('''CREATE TABLE IF NOT EXISTS employee (

id INTEGER PRIMARY KEY,
department_id INTEGER,
chief_id INTEGER,
name VARCHAR(100),
salary INTEGER,

FOREIGN KEY (department_id) REFERENCES department(id),
FOREIGN KEY (chief_id) REFERENCES employee(id)
)''')

# Сохранение изменений и закрытие соединения
conn.commit()
conn.close()

### добавление данных в таблицы

#### добавление данных в department

In [6]:
# создаем данные с депаратмаентами
data = {'id':np.arange(1,7),'name':['бухгалтерия','администрация','обучение','коммерция','кадры','it']}

In [7]:
# оборачиваем в дафатафрейм
department = pd.DataFrame(data)

In [8]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

# добавляем данные отделов
cursor.executemany("INSERT INTO department VALUES(?,?)", department.values.tolist())
conn.commit()

In [9]:
# проверка
res = cursor.execute("""
select *
from department
""")

res.fetchall()

[(1, 'бухгалтерия'),
 (2, 'администрация'),
 (3, 'обучение'),
 (4, 'коммерция'),
 (5, 'кадры'),
 (6, 'it')]

In [10]:
conn.close()

#### добавление данных в employee

In [11]:
# фиксируем seed
np.random.seed(1)

# генерируем зп
salary = np.random.randint(30000,900000, size=100)

# генерируем id dep
department_id = np.random.randint(1,7, size=100)

# создаем объект класса
fake = Faker('ru_RU')

# генерируем имена
fake_names =[]
for _ in range(50):
    fake_names.append(fake.first_name())

# генерируем сто имен для дф
names = np.random.choice(fake_names, 100)
names[86] = 'Андрей'

In [12]:
# создаем словарьс  боссами и их индексами
bosses = {}

# счетчик dep_id
n=1
# так как у нас 6 департаментов -> нужно 6 боссов
for i in range(len(salary)):

    if salary[i] in sorted(salary)[-6:]:

        # добавляем индекс +1, тк id начинаются с 1
        bosses[n] = i+1
        n+=1

In [13]:
def apply_boss(department_id, bosses) -> list:
    """ Возвращает список боссов 
    равное кол-ву департаментов, 
    отталкиваясь от значени деп-ов
    """
    
    answer =[]
    
    for i in department_id:
        answer.append(bosses.get(i))
        
    return answer

In [14]:
boss = apply_boss(department_id, bosses)

In [15]:
# создаем данные с депаратмаентами
data = {'id':np.arange(1,101),
        'department_id':department_id,
        'chief_id': boss,
        'name': names,
        'salary': salary
       }

In [16]:
employee= pd.DataFrame(data)

In [17]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

# добавляем данные отделов
cursor.executemany("INSERT INTO employee VALUES(?,?,?,?,?)", employee.values.tolist())
conn.commit()

In [18]:
# проверка
res = cursor.execute("""
select *
from employee
""")

res.fetchall()

[(1, 2, 52, 'Данила', 158037),
 (2, 2, 52, 'Данила', 521755),
 (3, 6, 97, 'Вячеслав', 500924),
 (4, 4, 72, 'Мартьян', 821624),
 (5, 1, 6, 'Глеб', 521263),
 (6, 1, 6, 'Кондратий', 866489),
 (7, 6, 97, 'Емельян', 401403),
 (8, 6, 97, 'Андроник', 103349),
 (9, 5, 87, 'Всеволод', 147583),
 (10, 6, 97, 'Елизавета', 51440),
 (11, 3, 71, 'Каллистрат', 259520),
 (12, 5, 87, 'Емельян', 443825),
 (13, 4, 72, 'Ираклий', 466973),
 (14, 6, 97, 'Эмиль', 323372),
 (15, 4, 72, 'Кондратий', 197302),
 (16, 6, 97, 'Януарий', 543300),
 (17, 1, 6, 'Аполлинарий', 51758),
 (18, 4, 72, 'Нифонт', 206485),
 (19, 5, 87, 'Спиридон', 721090),
 (20, 4, 72, 'Яков', 605956),
 (21, 5, 87, 'Нифонт', 487611),
 (22, 5, 87, 'Любосмысл', 431660),
 (23, 6, 97, 'Эмиль', 836378),
 (24, 5, 87, 'Фрол', 395212),
 (25, 2, 52, 'Вадим', 218317),
 (26, 1, 6, 'Ерофей', 276322),
 (27, 5, 87, 'Казимир', 647028),
 (28, 3, 71, 'Елизавета', 324103),
 (29, 1, 6, 'Симон', 775431),
 (30, 6, 97, 'Прохор', 442649),
 (31, 3, 71, 'Елизавета', 178209),
 (32, 5, 87, 'Севастьян', 56103),
 (33, 2, 52, 'Никита', 729870),
 (34, 2, 52, 'Тимофей', 474256),
 (35, 1, 6, 'Емельян', 326022),
 (36, 3, 71, 'Яков', 675097),
 (37, 5, 87, 'Казимир', 129335),
 (38, 5, 87, 'Тимофей', 853615),
 (39, 1, 6, 'Фрол', 147565),
 (40, 5, 87, 'Мартьян', 820038),
 (41, 2, 52, 'Андрон', 399977),
 (42, 5, 87, 'Капитон', 753457),
 (43, 2, 52, 'Аполлинарий', 158896),
 (44, 1, 6, 'Иван', 353900),
 (45, 3, 71, 'Вадим', 224769),
 (46, 4, 72, 'Аполлон', 387640),
 (47, 2, 52, 'Данила', 88072),
 (48, 3, 71, 'Каллистрат', 462755),
 (49, 5, 87, 'Фрол', 685791),
 (50, 5, 87, 'Иван', 722202),
 (51, 3, 71, 'Андрон', 536312),
 (52, 3, 71, 'Севастьян', 898894),
 (53, 1, 6, 'Регина', 235895),
 (54, 2, 52, 'Кондратий', 129782),
 (55, 3, 71, 'Вадим', 570565),
 (56, 3, 71, 'Юрий', 746337),
 (57, 1, 6, 'Григорий', 206643),
 (58, 6, 97, 'Анна', 368712),
 (59, 2, 52, 'Любовь', 399137),
 (60, 3, 71, 'Яков', 160091),
 (61, 5, 87, 'Вячеслав', 508234),
 (62, 1, 6, 'Януарий', 687204),
 (63, 6, 97, 'Милий', 825984),
 (64, 6, 97, 'Анжелика', 649817),
 (65, 2, 52, 'Анжелика', 58114),
 (66, 3, 71, 'Казимир', 423231),
 (67, 2, 52, 'Вадим', 540148),
 (68, 6, 97, 'Ираклий', 697673),
 (69, 5, 87, 'Аполлон', 762527),
 (70, 3, 71, 'Вадим', 414738),
 (71, 1, 6, 'Ростислав', 892087),
 (72, 6, 97, 'Севастьян', 883274),
 (73, 1, 6, 'Афиноген', 553929),
 (74, 2, 52, 'Вячеслав', 629656),
 (75, 6, 97, 'Ермил', 31046),
 (76, 1, 6, 'Дмитрий', 666681),
 (77, 2, 52, 'Андрон', 704791),
 (78, 4, 72, 'Данила', 244142),
 (79, 2, 52, 'Андроник', 793159),
 (80, 2, 52, 'Казимир', 484013),
 (81, 6, 97, 'Каллистрат', 656020),
 (82, 5, 87, 'Никита', 636363),
 (83, 5, 87, 'Эмиль', 372949),
 (84, 4, 72, 'Аполлон', 575081),
 (85, 6, 97, 'Милий', 565123),
 (86, 1, 6, 'Севастьян', 516566),
 (87, 4, 72, 'Андрей', 899000),
 (88, 1, 6, 'Ксения', 236112),
 (89, 4, 72, 'Аполлинарий', 742098),
 (90, 2, 52, 'Кондратий', 468026),
 (91, 3, 71, 'Дарья', 537159),
 (92, 6, 97, 'Ермил', 719807),
 (93, 6, 97, 'Яков', 630815),
 (94, 5, 87, 'Дарья', 644169),
 (95, 6, 97, 'Елизавета', 754935),
 (96, 1, 6, 'Анна', 30243),
 (97, 6, 97, 'Афиноген', 864122),
 (98, 1, 6, 'Капитон', 250462),
 (99, 6, 97, 'Никита', 280784),
 (100, 4, 72, 'Мартьян', 199688)]

In [19]:
conn.close()

# Задачи

In [61]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

## 1)Для каждого департамента вывести его название и имя сотрудника, работающего в этом департаменте и имеющего максимальный id

In [21]:

res = cursor.execute("""
select d.id , d.name, max(e.id),e.name
from employee as e
left join department as d on e.department_id = d.id

where e.id in (
select max(id)
from employee
group by department_id
)

group by d.name


""")

res.fetchall()

[(6, 'it', 99, 'Никита'),
 (2, 'администрация', 90, 'Кондратий'),
 (1, 'бухгалтерия', 98, 'Капитон'),
 (5, 'кадры', 94, 'Дарья'),
 (4, 'коммерция', 100, 'Мартьян'),
 (3, 'обучение', 91, 'Дарья')]

## 2)Вывести названия департаментов, в которых нет сотрудников, имеющих в имени букв “р” и “н” одновременно без учета регистра

In [22]:
res = cursor.execute("""

select name
from department

where id not in

(SELECT department_id
FROM employee 
WHERE lower(name) LIKE '%н%' and lower(name) LIKE '%р%'
group by department_id
)

""")

res.fetchall()

[]

In [23]:
res = cursor.execute("""
SELECT name
FROM department
WHERE NOT EXISTS (
SELECT 1
FROM employee
WHERE department.id = employee.department_id
AND LOWER(name) LIKE '%р%'
AND LOWER(name) LIKE '%н%'
)

""")

res.fetchall()

[]

## 3)Для каждого сотрудника вывести его имя, а также имя и зарплату другого сотрудника, имеющего следующую по возрастанию зарплату и работающего в том же отделе. В случае, если таких сотрудников несколько, вывести данные по сотруднику, имеющему максимальный id.

In [24]:
# добавим значения для проверки

cursor.execute("INSERT INTO employee(department_id,name,salary) VALUES(?,?,?)", (1,'Толя',206643))
conn.commit()

In [25]:
# добавим значения для проверки
cursor.execute("INSERT INTO employee(department_id,chief_id,name,salary) VALUES(?,?,?,?)", (1,6,'Вася',206643))
conn.commit()

Как я понял, что при аналогичном уровне зп, мы учитываем сотрудника c максимлаьным id, других сотрудников, c аналогичной зп и аналогичным департаментов мы не учитываем:

In [26]:
res = cursor.execute("""
SELECT name,
       LEAD(name) OVER (PARTITION BY department_id ORDER BY salary asc, id desc ) AS name_next_worker,
       LEAD(salary) OVER (PARTITION BY department_id ORDER BY salary asc, id desc ) AS salary_next_worker
FROM employee

where id in (
SELECT 
max(id) over(partition by department_id, salary) as result_id
FROM employee
)

""")

res.fetchall()

[('Анна', 'Аполлинарий', 51758),
 ('Аполлинарий', 'Фрол', 147565),
 ('Фрол', 'Вася', 206643),
 ('Вася', 'Регина', 235895),
 ('Регина', 'Ксения', 236112),
 ('Ксения', 'Капитон', 250462),
 ('Капитон', 'Ерофей', 276322),
 ('Ерофей', 'Емельян', 326022),
 ('Емельян', 'Иван', 353900),
 ('Иван', 'Севастьян', 516566),
 ('Севастьян', 'Глеб', 521263),
 ('Глеб', 'Афиноген', 553929),
 ('Афиноген', 'Дмитрий', 666681),
 ('Дмитрий', 'Януарий', 687204),
 ('Януарий', 'Симон', 775431),
 ('Симон', 'Кондратий', 866489),
 ('Кондратий', 'Ростислав', 892087),
 ('Ростислав', None, None),
 ('Анжелика', 'Данила', 88072),
 ('Данила', 'Кондратий', 129782),
 ('Кондратий', 'Данила', 158037),
 ('Данила', 'Аполлинарий', 158896),
 ('Аполлинарий', 'Вадим', 218317),
 ('Вадим', 'Любовь', 399137),
 ('Любовь', 'Андрон', 399977),
 ('Андрон', 'Кондратий', 468026),
 ('Кондратий', 'Тимофей', 474256),
 ('Тимофей', 'Казимир', 484013),
 ('Казимир', 'Данила', 521755),
 ('Данила', 'Вадим', 540148),
 ('Вадим', 'Вячеслав', 629656),
 ('Вячеслав', 'Андрон', 704791),
 ('Андрон', 'Никита', 729870),
 ('Никита', 'Андроник', 793159),
 ('Андроник', None, None),
 ('Яков', 'Елизавета', 178209),
 ('Елизавета', 'Вадим', 224769),
 ('Вадим', 'Каллистрат', 259520),
 ('Каллистрат', 'Елизавета', 324103),
 ('Елизавета', 'Вадим', 414738),
 ('Вадим', 'Казимир', 423231),
 ('Казимир', 'Каллистрат', 462755),
 ('Каллистрат', 'Андрон', 536312),
 ('Андрон', 'Дарья', 537159),
 ('Дарья', 'Вадим', 570565),
 ('Вадим', 'Яков', 675097),
 ('Яков', 'Юрий', 746337),
 ('Юрий', 'Севастьян', 898894),
 ('Севастьян', None, None),
 ('Кондратий', 'Мартьян', 199688),
 ('Мартьян', 'Нифонт', 206485),
 ('Нифонт', 'Данила', 244142),
 ('Данила', 'Аполлон', 387640),
 ('Аполлон', 'Ираклий', 466973),
 ('Ираклий', 'Аполлон', 575081),
 ('Аполлон', 'Яков', 605956),
 ('Яков', 'Аполлинарий', 742098),
 ('Аполлинарий', 'Мартьян', 821624),
 ('Мартьян', 'Андрей', 899000),
 ('Андрей', None, None),
 ('Севастьян', 'Казимир', 129335),
 ('Казимир', 'Всеволод', 147583),
 ('Всеволод', 'Эмиль', 372949),
 ('Эмиль', 'Фрол', 395212),
 ('Фрол', 'Любосмысл', 431660),
 ('Любосмысл', 'Емельян', 443825),
 ('Емельян', 'Нифонт', 487611),
 ('Нифонт', 'Вячеслав', 508234),
 ('Вячеслав', 'Никита', 636363),
 ('Никита', 'Дарья', 644169),
 ('Дарья', 'Казимир', 647028),
 ('Казимир', 'Фрол', 685791),
 ('Фрол', 'Спиридон', 721090),
 ('Спиридон', 'Иван', 722202),
 ('Иван', 'Капитон', 753457),
 ('Капитон', 'Аполлон', 762527),
 ('Аполлон', 'Мартьян', 820038),
 ('Мартьян', 'Тимофей', 853615),
 ('Тимофей', None, None),
 ('Ермил', 'Елизавета', 51440),
 ('Елизавета', 'Андроник', 103349),
 ('Андроник', 'Никита', 280784),
 ('Никита', 'Эмиль', 323372),
 ('Эмиль', 'Анна', 368712),
 ('Анна', 'Емельян', 401403),
 ('Емельян', 'Прохор', 442649),
 ('Прохор', 'Вячеслав', 500924),
 ('Вячеслав', 'Януарий', 543300),
 ('Януарий', 'Милий', 565123),
 ('Милий', 'Яков', 630815),
 ('Яков', 'Анжелика', 649817),
 ('Анжелика', 'Каллистрат', 656020),
 ('Каллистрат', 'Ираклий', 697673),
 ('Ираклий', 'Ермил', 719807),
 ('Ермил', 'Елизавета', 754935),
 ('Елизавета', 'Милий', 825984),
 ('Милий', 'Эмиль', 836378),
 ('Эмиль', 'Афиноген', 864122),
 ('Афиноген', 'Севастьян', 883274),
 ('Севастьян', None, None)]

Ниже запрос всех сотрудников со смещением по зп и сортировкой по максимальному id:

In [27]:
res = cursor.execute("""
SELECT department_id, name, salary,
       LEAD(name) OVER (PARTITION BY department_id ORDER BY salary asc, id desc ) AS name,
       LEAD(salary) OVER (PARTITION BY department_id ORDER BY salary asc, id desc ) AS salary
FROM employee


""")

res.fetchall()

[(1, 'Анна', 30243, 'Аполлинарий', 51758),
 (1, 'Аполлинарий', 51758, 'Фрол', 147565),
 (1, 'Фрол', 147565, 'Вася', 206643),
 (1, 'Вася', 206643, 'Толя', 206643),
 (1, 'Толя', 206643, 'Григорий', 206643),
 (1, 'Григорий', 206643, 'Регина', 235895),
 (1, 'Регина', 235895, 'Ксения', 236112),
 (1, 'Ксения', 236112, 'Капитон', 250462),
 (1, 'Капитон', 250462, 'Ерофей', 276322),
 (1, 'Ерофей', 276322, 'Емельян', 326022),
 (1, 'Емельян', 326022, 'Иван', 353900),
 (1, 'Иван', 353900, 'Севастьян', 516566),
 (1, 'Севастьян', 516566, 'Глеб', 521263),
 (1, 'Глеб', 521263, 'Афиноген', 553929),
 (1, 'Афиноген', 553929, 'Дмитрий', 666681),
 (1, 'Дмитрий', 666681, 'Януарий', 687204),
 (1, 'Януарий', 687204, 'Симон', 775431),
 (1, 'Симон', 775431, 'Кондратий', 866489),
 (1, 'Кондратий', 866489, 'Ростислав', 892087),
 (1, 'Ростислав', 892087, None, None),
 (2, 'Анжелика', 58114, 'Данила', 88072),
 (2, 'Данила', 88072, 'Кондратий', 129782),
 (2, 'Кондратий', 129782, 'Данила', 158037),
 (2, 'Данила', 158037, 'Аполлинарий', 158896),
 (2, 'Аполлинарий', 158896, 'Вадим', 218317),
 (2, 'Вадим', 218317, 'Любовь', 399137),
 (2, 'Любовь', 399137, 'Андрон', 399977),
 (2, 'Андрон', 399977, 'Кондратий', 468026),
 (2, 'Кондратий', 468026, 'Тимофей', 474256),
 (2, 'Тимофей', 474256, 'Казимир', 484013),
 (2, 'Казимир', 484013, 'Данила', 521755),
 (2, 'Данила', 521755, 'Вадим', 540148),
 (2, 'Вадим', 540148, 'Вячеслав', 629656),
 (2, 'Вячеслав', 629656, 'Андрон', 704791),
 (2, 'Андрон', 704791, 'Никита', 729870),
 (2, 'Никита', 729870, 'Андроник', 793159),
 (2, 'Андроник', 793159, None, None),
 (3, 'Яков', 160091, 'Елизавета', 178209),
 (3, 'Елизавета', 178209, 'Вадим', 224769),
 (3, 'Вадим', 224769, 'Каллистрат', 259520),
 (3, 'Каллистрат', 259520, 'Елизавета', 324103),
 (3, 'Елизавета', 324103, 'Вадим', 414738),
 (3, 'Вадим', 414738, 'Казимир', 423231),
 (3, 'Казимир', 423231, 'Каллистрат', 462755),
 (3, 'Каллистрат', 462755, 'Андрон', 536312),
 (3, 'Андрон', 536312, 'Дарья', 537159),
 (3, 'Дарья', 537159, 'Вадим', 570565),
 (3, 'Вадим', 570565, 'Яков', 675097),
 (3, 'Яков', 675097, 'Юрий', 746337),
 (3, 'Юрий', 746337, 'Севастьян', 898894),
 (3, 'Севастьян', 898894, None, None),
 (4, 'Кондратий', 197302, 'Мартьян', 199688),
 (4, 'Мартьян', 199688, 'Нифонт', 206485),
 (4, 'Нифонт', 206485, 'Данила', 244142),
 (4, 'Данила', 244142, 'Аполлон', 387640),
 (4, 'Аполлон', 387640, 'Ираклий', 466973),
 (4, 'Ираклий', 466973, 'Аполлон', 575081),
 (4, 'Аполлон', 575081, 'Яков', 605956),
 (4, 'Яков', 605956, 'Аполлинарий', 742098),
 (4, 'Аполлинарий', 742098, 'Мартьян', 821624),
 (4, 'Мартьян', 821624, 'Андрей', 899000),
 (4, 'Андрей', 899000, None, None),
 (5, 'Севастьян', 56103, 'Казимир', 129335),
 (5, 'Казимир', 129335, 'Всеволод', 147583),
 (5, 'Всеволод', 147583, 'Эмиль', 372949),
 (5, 'Эмиль', 372949, 'Фрол', 395212),
 (5, 'Фрол', 395212, 'Любосмысл', 431660),
 (5, 'Любосмысл', 431660, 'Емельян', 443825),
 (5, 'Емельян', 443825, 'Нифонт', 487611),
 (5, 'Нифонт', 487611, 'Вячеслав', 508234),
 (5, 'Вячеслав', 508234, 'Никита', 636363),
 (5, 'Никита', 636363, 'Дарья', 644169),
 (5, 'Дарья', 644169, 'Казимир', 647028),
 (5, 'Казимир', 647028, 'Фрол', 685791),
 (5, 'Фрол', 685791, 'Спиридон', 721090),
 (5, 'Спиридон', 721090, 'Иван', 722202),
 (5, 'Иван', 722202, 'Капитон', 753457),
 (5, 'Капитон', 753457, 'Аполлон', 762527),
 (5, 'Аполлон', 762527, 'Мартьян', 820038),
 (5, 'Мартьян', 820038, 'Тимофей', 853615),
 (5, 'Тимофей', 853615, None, None),
 (6, 'Ермил', 31046, 'Елизавета', 51440),
 (6, 'Елизавета', 51440, 'Андроник', 103349),
 (6, 'Андроник', 103349, 'Никита', 280784),
 (6, 'Никита', 280784, 'Эмиль', 323372),
 (6, 'Эмиль', 323372, 'Анна', 368712),
 (6, 'Анна', 368712, 'Емельян', 401403),
 (6, 'Емельян', 401403, 'Прохор', 442649),
 (6, 'Прохор', 442649, 'Вячеслав', 500924),
 (6, 'Вячеслав', 500924, 'Януарий', 543300),
 (6, 'Януарий', 543300, 'Милий', 565123),
 (6, 'Милий', 565123, 'Яков', 630815),
 (6, 'Яков', 630815, 'Анжелика', 649817),
 (6, 'Анжелика', 649817, 'Каллистрат', 656020),
 (6, 'Каллистрат', 656020, 'Ираклий', 697673),
 (6, 'Ираклий', 697673, 'Ермил', 719807),
 (6, 'Ермил', 719807, 'Елизавета', 754935),
 (6, 'Елизавета', 754935, 'Милий', 825984),
 (6, 'Милий', 825984, 'Эмиль', 836378),
 (6, 'Эмиль', 836378, 'Афиноген', 864122),
 (6, 'Афиноген', 864122, 'Севастьян', 883274),
 (6, 'Севастьян', 883274, None, None)]

## 4) Вывести список названий департаментов, суммарную зарплату сотрудников в департаменте и кумулятивную сумму суммарных зарплат по департаментам в порядке возрастания суммарной зарплаты

In [28]:
res = cursor.execute("""

select d.name, sum(e.salary),
sum(sum(e.salary)) over(order by sum(e.salary))

from employee as e
left join department as d on e.department_id = d.id

group by e.department_id
""")

res.fetchall()

[('коммерция', 5345989, 5345989),
 ('обучение', 6411780, 11757769),
 ('администрация', 6956006, 18713775),
 ('бухгалтерия', 8007858, 26721633),
 ('кадры', 10218792, 36940425),
 ('it', 11130927, 48071352)]

## 5) Написать запрос, добавляющий новых сотрудников таким образом, чтобы средняя зарплата в каждом отделе стала одинаковая, причем зарплата новых сотрудников должна быть положительной. Можно добавить не более чем по 1 сотруднику в отдел. Поле CHIEF_ID для новых сотрудников оставить пустым

1) сначала найдем максимально среднее из всех - в этом отделе ничего добавлять не будем
2) нам нужно посчитать по формуле, чтобы найти зп для нового сотрудника: наибольшее среднее умножаем на (кол-во зп +1) и вычитаем предыдущую сумму 
* salary = mean_v*(count_salary+1)-sum_salary

In [29]:
res = cursor.execute("""

select department_id, name,

max(avg(salary)) over()*(count(*) +1) - sum(salary) as salary

from employee 

group by department_id
order by avg(salary) desc
limit -1
offset 1


""")

rows = res.fetchall()

In [30]:
rows

[(6, 'Вячеслав', 701358.4736842103),
 (4, 'Мартьян', 1107984.8947368423),
 (3, 'Каллистрат', 1655687.3684210526),
 (2, 'Данила', 2724954.842105264),
 (1, 'Глеб', 3286596.315789474)]

In [31]:
# добавим значения для проверки
cursor.executemany("INSERT INTO employee(department_id,name,salary) VALUES(?,?,?)", rows)
conn.commit()

* Проверим все ли получилось

In [32]:
res = cursor.execute("""

select department_id,

avg(salary)

from employee 

group by department_id


""")
res.fetchall()

[(1, 537831.1578947369),
 (2, 537831.1578947369),
 (3, 537831.1578947369),
 (4, 537831.1578947369),
 (5, 537831.1578947369),
 (6, 537831.1578947369)]

In [33]:
res = cursor.execute("""

select *
from employee
""")

res.fetchall()

[(1, 2, 52, 'Данила', 158037),
 (2, 2, 52, 'Данила', 521755),
 (3, 6, 97, 'Вячеслав', 500924),
 (4, 4, 72, 'Мартьян', 821624),
 (5, 1, 6, 'Глеб', 521263),
 (6, 1, 6, 'Кондратий', 866489),
 (7, 6, 97, 'Емельян', 401403),
 (8, 6, 97, 'Андроник', 103349),
 (9, 5, 87, 'Всеволод', 147583),
 (10, 6, 97, 'Елизавета', 51440),
 (11, 3, 71, 'Каллистрат', 259520),
 (12, 5, 87, 'Емельян', 443825),
 (13, 4, 72, 'Ираклий', 466973),
 (14, 6, 97, 'Эмиль', 323372),
 (15, 4, 72, 'Кондратий', 197302),
 (16, 6, 97, 'Януарий', 543300),
 (17, 1, 6, 'Аполлинарий', 51758),
 (18, 4, 72, 'Нифонт', 206485),
 (19, 5, 87, 'Спиридон', 721090),
 (20, 4, 72, 'Яков', 605956),
 (21, 5, 87, 'Нифонт', 487611),
 (22, 5, 87, 'Любосмысл', 431660),
 (23, 6, 97, 'Эмиль', 836378),
 (24, 5, 87, 'Фрол', 395212),
 (25, 2, 52, 'Вадим', 218317),
 (26, 1, 6, 'Ерофей', 276322),
 (27, 5, 87, 'Казимир', 647028),
 (28, 3, 71, 'Елизавета', 324103),
 (29, 1, 6, 'Симон', 775431),
 (30, 6, 97, 'Прохор', 442649),
 (31, 3, 71, 'Елизавета', 178209),
 (32, 5, 87, 'Севастьян', 56103),
 (33, 2, 52, 'Никита', 729870),
 (34, 2, 52, 'Тимофей', 474256),
 (35, 1, 6, 'Емельян', 326022),
 (36, 3, 71, 'Яков', 675097),
 (37, 5, 87, 'Казимир', 129335),
 (38, 5, 87, 'Тимофей', 853615),
 (39, 1, 6, 'Фрол', 147565),
 (40, 5, 87, 'Мартьян', 820038),
 (41, 2, 52, 'Андрон', 399977),
 (42, 5, 87, 'Капитон', 753457),
 (43, 2, 52, 'Аполлинарий', 158896),
 (44, 1, 6, 'Иван', 353900),
 (45, 3, 71, 'Вадим', 224769),
 (46, 4, 72, 'Аполлон', 387640),
 (47, 2, 52, 'Данила', 88072),
 (48, 3, 71, 'Каллистрат', 462755),
 (49, 5, 87, 'Фрол', 685791),
 (50, 5, 87, 'Иван', 722202),
 (51, 3, 71, 'Андрон', 536312),
 (52, 3, 71, 'Севастьян', 898894),
 (53, 1, 6, 'Регина', 235895),
 (54, 2, 52, 'Кондратий', 129782),
 (55, 3, 71, 'Вадим', 570565),
 (56, 3, 71, 'Юрий', 746337),
 (57, 1, 6, 'Григорий', 206643),
 (58, 6, 97, 'Анна', 368712),
 (59, 2, 52, 'Любовь', 399137),
 (60, 3, 71, 'Яков', 160091),
 (61, 5, 87, 'Вячеслав', 508234),
 (62, 1, 6, 'Януарий', 687204),
 (63, 6, 97, 'Милий', 825984),
 (64, 6, 97, 'Анжелика', 649817),
 (65, 2, 52, 'Анжелика', 58114),
 (66, 3, 71, 'Казимир', 423231),
 (67, 2, 52, 'Вадим', 540148),
 (68, 6, 97, 'Ираклий', 697673),
 (69, 5, 87, 'Аполлон', 762527),
 (70, 3, 71, 'Вадим', 414738),
 (71, 1, 6, 'Ростислав', 892087),
 (72, 6, 97, 'Севастьян', 883274),
 (73, 1, 6, 'Афиноген', 553929),
 (74, 2, 52, 'Вячеслав', 629656),
 (75, 6, 97, 'Ермил', 31046),
 (76, 1, 6, 'Дмитрий', 666681),
 (77, 2, 52, 'Андрон', 704791),
 (78, 4, 72, 'Данила', 244142),
 (79, 2, 52, 'Андроник', 793159),
 (80, 2, 52, 'Казимир', 484013),
 (81, 6, 97, 'Каллистрат', 656020),
 (82, 5, 87, 'Никита', 636363),
 (83, 5, 87, 'Эмиль', 372949),
 (84, 4, 72, 'Аполлон', 575081),
 (85, 6, 97, 'Милий', 565123),
 (86, 1, 6, 'Севастьян', 516566),
 (87, 4, 72, 'Андрей', 899000),
 (88, 1, 6, 'Ксения', 236112),
 (89, 4, 72, 'Аполлинарий', 742098),
 (90, 2, 52, 'Кондратий', 468026),
 (91, 3, 71, 'Дарья', 537159),
 (92, 6, 97, 'Ермил', 719807),
 (93, 6, 97, 'Яков', 630815),
 (94, 5, 87, 'Дарья', 644169),
 (95, 6, 97, 'Елизавета', 754935),
 (96, 1, 6, 'Анна', 30243),
 (97, 6, 97, 'Афиноген', 864122),
 (98, 1, 6, 'Капитон', 250462),
 (99, 6, 97, 'Никита', 280784),
 (100, 4, 72, 'Мартьян', 199688),
 (101, 1, None, 'Толя', 206643),
 (102, 1, 6, 'Вася', 206643),
 (103, 6, None, 'Вячеслав', 701358.4736842103),
 (104, 4, None, 'Мартьян', 1107984.8947368423),
 (105, 3, None, 'Каллистрат', 1655687.3684210526),
 (106, 2, None, 'Данила', 2724954.842105264),
 (107, 1, None, 'Глеб', 3286596.315789474)]

In [34]:
def find_salary(employee):
    """ Возвращает дф с индексами департмаента и
    с зарплатой по департаменту, чтобы средня зп 
    по каждому департаменту была равной
    """
    
    test = employee.groupby('department_id').agg({'salary':['mean','sum', 'count']})

    # убираем мультииндекс
    test.columns = [f"{i[1]}_{i[0]}" for i in test.columns]
    test.reset_index(inplace=True)

    # сортируем 
    test=test.sort_values(by='mean_salary', ascending=False).reset_index(drop=True)

    # выделяем среднее ожмдаемое
    mean_v = test.loc[0,'mean_salary']

    # добавляем  зп для усреднения
    test['salary'] = test.apply(lambda x: mean_v*(x['count_salary']+1)-x['sum_salary'], axis=1)


    return test[['department_id', 'salary']]

## 6) Написать запрос, удаляющий из таблицы сотрудников дубли, т.е. всех, кроме одного, имеющих одинаковое имя, начальника, зарплату, и департамент. Оставить сотрудника с минимальным id.

In [35]:
res = cursor.execute("""
select  department_id,chief_id,name, salary
from employee
limit 5
""")

rows = res.fetchall()

In [36]:
rows

[(2, 52, 'Данила', 158037),
 (2, 52, 'Данила', 521755),
 (6, 97, 'Вячеслав', 500924),
 (4, 72, 'Мартьян', 821624),
 (1, 6, 'Глеб', 521263)]

In [37]:
# добавим 5 значений для проверки

cursor.executemany("INSERT INTO employee(department_id,chief_id,name, salary) VALUES(?,?,?,?)", rows)
conn.commit()

In [38]:
# првоерим все ли добавилось
res = cursor.execute("""

select *
from employee
order by id desc
limit 5

""")

res.fetchall()

[(112, 1, 6, 'Глеб', 521263),
 (111, 4, 72, 'Мартьян', 821624),
 (110, 6, 97, 'Вячеслав', 500924),
 (109, 2, 52, 'Данила', 521755),
 (108, 2, 52, 'Данила', 158037)]

In [39]:
# удаляем эти строки

res = cursor.execute("""

delete from employee
where id in (
select id
from 
(
select id, department_id,chief_id,salary,name,
row_number() over(partition by department_id,chief_id,salary, name order by id asc) as rows

from employee
)
as duplicates
where rows >1
)

""")
conn.commit()

In [40]:
# проверка на дубликаты
res = cursor.execute("""

select *
from 
(
select id, department_id,chief_id,salary,name,
row_number() over(partition by department_id,chief_id,salary, name order by id asc) as rows

from employee
)
as duplicates
where rows >1

""")

res.fetchall()

[]

## 7) Написать запрос, переставляющий двух сотрудников (сотрудник с ID = 3 и его руководителя) местами в иерархии подчинения. Поле ID менять запрещено.

на данный момент :
* в каждом департаменте 1 рук-ль.
* поэтому добавим еще 1 рук-ля в департамент с сотрдуником id=3 , он будет руководителем руководителя . Это нужно , чтобы появилась иеррахия .

In [41]:
# добавим еще 1 рук-ля 6 департамента , который будет рук-ем  руководителя сотрудника с id=3

cursor.execute("INSERT INTO employee(department_id,chief_id,name, salary) VALUES(?,?,?,?)", (6,200,'Вася',1100000))
conn.commit()

In [42]:
#  меняем рук-ля руководителя сотрудника с id=3, исходя из запроса выше
res = cursor.execute("""

update employee
set chief_id = (

select id
from employee
order by id desc
limit 1
)

where id = 
(
select chief_id
from employee
where id =3
)

""")

Сейчас можем поменять иерархию

In [43]:
#  меняем рук-ля руководителя сотрудника с id=3,  а также рук-ля сотрудлника id 3(иерархию подчинения)
res = cursor.execute("""

update employee
set chief_id = case

when id = 3 
then (select id
from employee
order by id desc
limit 1)

else 3
end 


where chief_id = 
(
select chief_id
from employee
where id =3
) or id = (
select chief_id
from employee
where id =3
)

""")
conn.commit()

Проверка:

In [44]:
# проверка
res = cursor.execute("""
select *
from employee
""")
res.fetchall()

[(1, 2, 52, 'Данила', 158037),
 (2, 2, 52, 'Данила', 521755),
 (3, 6, 108, 'Вячеслав', 500924),
 (4, 4, 72, 'Мартьян', 821624),
 (5, 1, 6, 'Глеб', 521263),
 (6, 1, 6, 'Кондратий', 866489),
 (7, 6, 3, 'Емельян', 401403),
 (8, 6, 3, 'Андроник', 103349),
 (9, 5, 87, 'Всеволод', 147583),
 (10, 6, 3, 'Елизавета', 51440),
 (11, 3, 71, 'Каллистрат', 259520),
 (12, 5, 87, 'Емельян', 443825),
 (13, 4, 72, 'Ираклий', 466973),
 (14, 6, 3, 'Эмиль', 323372),
 (15, 4, 72, 'Кондратий', 197302),
 (16, 6, 3, 'Януарий', 543300),
 (17, 1, 6, 'Аполлинарий', 51758),
 (18, 4, 72, 'Нифонт', 206485),
 (19, 5, 87, 'Спиридон', 721090),
 (20, 4, 72, 'Яков', 605956),
 (21, 5, 87, 'Нифонт', 487611),
 (22, 5, 87, 'Любосмысл', 431660),
 (23, 6, 3, 'Эмиль', 836378),
 (24, 5, 87, 'Фрол', 395212),
 (25, 2, 52, 'Вадим', 218317),
 (26, 1, 6, 'Ерофей', 276322),
 (27, 5, 87, 'Казимир', 647028),
 (28, 3, 71, 'Елизавета', 324103),
 (29, 1, 6, 'Симон', 775431),
 (30, 6, 3, 'Прохор', 442649),
 (31, 3, 71, 'Елизавета', 178209),
 (32, 5, 87, 'Севастьян', 56103),
 (33, 2, 52, 'Никита', 729870),
 (34, 2, 52, 'Тимофей', 474256),
 (35, 1, 6, 'Емельян', 326022),
 (36, 3, 71, 'Яков', 675097),
 (37, 5, 87, 'Казимир', 129335),
 (38, 5, 87, 'Тимофей', 853615),
 (39, 1, 6, 'Фрол', 147565),
 (40, 5, 87, 'Мартьян', 820038),
 (41, 2, 52, 'Андрон', 399977),
 (42, 5, 87, 'Капитон', 753457),
 (43, 2, 52, 'Аполлинарий', 158896),
 (44, 1, 6, 'Иван', 353900),
 (45, 3, 71, 'Вадим', 224769),
 (46, 4, 72, 'Аполлон', 387640),
 (47, 2, 52, 'Данила', 88072),
 (48, 3, 71, 'Каллистрат', 462755),
 (49, 5, 87, 'Фрол', 685791),
 (50, 5, 87, 'Иван', 722202),
 (51, 3, 71, 'Андрон', 536312),
 (52, 3, 71, 'Севастьян', 898894),
 (53, 1, 6, 'Регина', 235895),
 (54, 2, 52, 'Кондратий', 129782),
 (55, 3, 71, 'Вадим', 570565),
 (56, 3, 71, 'Юрий', 746337),
 (57, 1, 6, 'Григорий', 206643),
 (58, 6, 3, 'Анна', 368712),
 (59, 2, 52, 'Любовь', 399137),
 (60, 3, 71, 'Яков', 160091),
 (61, 5, 87, 'Вячеслав', 508234),
 (62, 1, 6, 'Януарий', 687204),
 (63, 6, 3, 'Милий', 825984),
 (64, 6, 3, 'Анжелика', 649817),
 (65, 2, 52, 'Анжелика', 58114),
 (66, 3, 71, 'Казимир', 423231),
 (67, 2, 52, 'Вадим', 540148),
 (68, 6, 3, 'Ираклий', 697673),
 (69, 5, 87, 'Аполлон', 762527),
 (70, 3, 71, 'Вадим', 414738),
 (71, 1, 6, 'Ростислав', 892087),
 (72, 6, 3, 'Севастьян', 883274),
 (73, 1, 6, 'Афиноген', 553929),
 (74, 2, 52, 'Вячеслав', 629656),
 (75, 6, 3, 'Ермил', 31046),
 (76, 1, 6, 'Дмитрий', 666681),
 (77, 2, 52, 'Андрон', 704791),
 (78, 4, 72, 'Данила', 244142),
 (79, 2, 52, 'Андроник', 793159),
 (80, 2, 52, 'Казимир', 484013),
 (81, 6, 3, 'Каллистрат', 656020),
 (82, 5, 87, 'Никита', 636363),
 (83, 5, 87, 'Эмиль', 372949),
 (84, 4, 72, 'Аполлон', 575081),
 (85, 6, 3, 'Милий', 565123),
 (86, 1, 6, 'Севастьян', 516566),
 (87, 4, 72, 'Андрей', 899000),
 (88, 1, 6, 'Ксения', 236112),
 (89, 4, 72, 'Аполлинарий', 742098),
 (90, 2, 52, 'Кондратий', 468026),
 (91, 3, 71, 'Дарья', 537159),
 (92, 6, 3, 'Ермил', 719807),
 (93, 6, 3, 'Яков', 630815),
 (94, 5, 87, 'Дарья', 644169),
 (95, 6, 3, 'Елизавета', 754935),
 (96, 1, 6, 'Анна', 30243),
 (97, 6, 3, 'Афиноген', 864122),
 (98, 1, 6, 'Капитон', 250462),
 (99, 6, 3, 'Никита', 280784),
 (100, 4, 72, 'Мартьян', 199688),
 (101, 1, None, 'Толя', 206643),
 (102, 1, 6, 'Вася', 206643),
 (103, 6, None, 'Вячеслав', 701358.4736842103),
 (104, 4, None, 'Мартьян', 1107984.8947368423),
 (105, 3, None, 'Каллистрат', 1655687.3684210526),
 (106, 2, None, 'Данила', 2724954.842105264),
 (107, 1, None, 'Глеб', 3286596.315789474),
 (108, 6, 200, 'Вася', 1100000)]

In [45]:
# проверка
res = cursor.execute("""
select *
from employee
where id =3
 or id = (
select chief_id
from employee
where id =3)
 or chief_id = 3

""")

In [46]:
res.fetchall()

[(3, 6, 108, 'Вячеслав', 500924),
 (7, 6, 3, 'Емельян', 401403),
 (8, 6, 3, 'Андроник', 103349),
 (10, 6, 3, 'Елизавета', 51440),
 (14, 6, 3, 'Эмиль', 323372),
 (16, 6, 3, 'Януарий', 543300),
 (23, 6, 3, 'Эмиль', 836378),
 (30, 6, 3, 'Прохор', 442649),
 (58, 6, 3, 'Анна', 368712),
 (63, 6, 3, 'Милий', 825984),
 (64, 6, 3, 'Анжелика', 649817),
 (68, 6, 3, 'Ираклий', 697673),
 (72, 6, 3, 'Севастьян', 883274),
 (75, 6, 3, 'Ермил', 31046),
 (81, 6, 3, 'Каллистрат', 656020),
 (85, 6, 3, 'Милий', 565123),
 (92, 6, 3, 'Ермил', 719807),
 (93, 6, 3, 'Яков', 630815),
 (95, 6, 3, 'Елизавета', 754935),
 (97, 6, 3, 'Афиноген', 864122),
 (99, 6, 3, 'Никита', 280784),
 (108, 6, 200, 'Вася', 1100000)]

## 8) Для каждого сотрудника найти все возможные переходы из текущего отдела в любой другой, при которых средняя зарплата в отделе, из которого он ушел и в который он пришел, возрастает

In [57]:
def mean_values(count=5, salary_tot=25, salary2=5, arrived=True) -> None:
    """Выводит строку со средними
    до/после ухода/прихода сотрудника"""

    bef = salary_tot/count
    
    if arrived:
        stroka = 'Приход в новый отдел'
        aft = (salary_tot+salary2)/(count+1)
    else:
        stroka = 'Уход из отдела'
        aft = (salary_tot-salary2)/(count-1)
        
    print(stroka,'\nзп сотрудника:',salary2,'\nmean before:', bef,'\nmean after:', aft)

In [58]:
for n in [4,5,6]:
    mean_values(salary2=n)
    print('\n')

Приход в новый отдел
зп сотрудника: 4
mean before: 5.0
mean after: 4.833333333333333


Приход в новый отдел
зп сотрудника: 5
mean before: 5.0
mean after: 5.0


Приход в новый отдел
зп сотрудника: 6
mean before: 5.0
mean after: 5.166666666666667

In [59]:
for n in [4,5,6]:
    mean_values(salary2=n, arrived=False)
    print('\n')

Уход из отдела
зп сотрудника: 4
mean before: 5.0
mean after: 5.25


Уход из отдела
зп сотрудника: 5
mean before: 5.0
mean after: 5.0


Уход из отдела
зп сотрудника: 6
mean before: 5.0
mean after: 4.75

в случае ухода сотрудника:

1) avg = salary => средняя зп не увеличвается
2) avg < salary => средняя зп не увеличвается
3) avg > salary => средняя зп увеличвается
   
в случае прихода сотрудника:

1) avg = salary => средняя зп не увеличвается
2) avg < salary => средняя зп увеличвается
3) avg > salary => средняя зп не увеличвается

итог:
* когда уход -> зп должна быть меньше среднего , тогда средняя зп увеличвается
* когда приход -> за должна быть больше среднего , тогда средняя зп увеличвается

1) проверяем зп со срелним отдела, из которого уходим, если зп >= то сразу нет
2) если она < среднего страого отдела , то проверяем со средним следующего отдела:

* зп> среднего = да
* иначе нет

In [62]:
# выводим рез-ат
res = cursor.execute("""

with dep as
(
select department_id,
avg(salary) as avg_salary
from employee
group by department_id),

empl as
(
select id,name,department_id,salary,
avg(salary) over(partition by department_id),
salary < avg(salary) over(partition by department_id) as self_avg_dep
from employee
order by department_id,salary)


select e.id,
        e.name,
        d.department_id,  
case
    when e.self_avg_dep == 0 then 'нет, AVG тек. уменьшится'
    when e.salary>d.avg_salary then 'да,возрастет'
    else 'нет, AVG нов. уменьшится'

end as result


from empl e
cross join dep d
where e.department_id != d.department_id
order by e.id
""")
res.fetchall()

[(1, 'Данила', 1, 'нет, AVG нов. уменьшится'),
 (1, 'Данила', 3, 'нет, AVG нов. уменьшится'),
 (1, 'Данила', 4, 'нет, AVG нов. уменьшится'),
 (1, 'Данила', 5, 'нет, AVG нов. уменьшится'),
 (1, 'Данила', 6, 'нет, AVG нов. уменьшится'),
 (2, 'Данила', 1, 'нет, AVG нов. уменьшится'),
 (2, 'Данила', 3, 'нет, AVG нов. уменьшится'),
 (2, 'Данила', 4, 'нет, AVG нов. уменьшится'),
 (2, 'Данила', 5, 'нет, AVG нов. уменьшится'),
 (2, 'Данила', 6, 'нет, AVG нов. уменьшится'),
 (3, 'Вячеслав', 1, 'нет, AVG нов. уменьшится'),
 (3, 'Вячеслав', 2, 'нет, AVG нов. уменьшится'),
 (3, 'Вячеслав', 3, 'нет, AVG нов. уменьшится'),
 (3, 'Вячеслав', 4, 'нет, AVG нов. уменьшится'),
 (3, 'Вячеслав', 5, 'нет, AVG нов. уменьшится'),
 (4, 'Мартьян', 1, 'нет, AVG тек. уменьшится'),
 (4, 'Мартьян', 2, 'нет, AVG тек. уменьшится'),
 (4, 'Мартьян', 3, 'нет, AVG тек. уменьшится'),
 (4, 'Мартьян', 5, 'нет, AVG тек. уменьшится'),
 (4, 'Мартьян', 6, 'нет, AVG тек. уменьшится'),
 (5, 'Глеб', 2, 'нет, AVG нов. уменьшится'),
 (5, 'Глеб', 3, 'нет, AVG нов. уменьшится'),
 (5, 'Глеб', 4, 'нет, AVG нов. уменьшится'),
 (5, 'Глеб', 5, 'нет, AVG нов. уменьшится'),
 (5, 'Глеб', 6, 'нет, AVG нов. уменьшится'),
 (6, 'Кондратий', 2, 'нет, AVG тек. уменьшится'),
 (6, 'Кондратий', 3, 'нет, AVG тек. уменьшится'),
 (6, 'Кондратий', 4, 'нет, AVG тек. уменьшится'),
 (6, 'Кондратий', 5, 'нет, AVG тек. уменьшится'),
 (6, 'Кондратий', 6, 'нет, AVG тек. уменьшится'),
 (7, 'Емельян', 1, 'нет, AVG нов. уменьшится'),
 (7, 'Емельян', 2, 'нет, AVG нов. уменьшится'),
 (7, 'Емельян', 3, 'нет, AVG нов. уменьшится'),
 (7, 'Емельян', 4, 'нет, AVG нов. уменьшится'),
 (7, 'Емельян', 5, 'нет, AVG нов. уменьшится'),
 (8, 'Андроник', 1, 'нет, AVG нов. уменьшится'),
 (8, 'Андроник', 2, 'нет, AVG нов. уменьшится'),
 (8, 'Андроник', 3, 'нет, AVG нов. уменьшится'),
 (8, 'Андроник', 4, 'нет, AVG нов. уменьшится'),
 (8, 'Андроник', 5, 'нет, AVG нов. уменьшится'),
 (9, 'Всеволод', 1, 'нет, AVG нов. уменьшится'),
 (9, 'Всеволод', 2, 'нет, AVG нов. уменьшится'),
 (9, 'Всеволод', 3, 'нет, AVG нов. уменьшится'),
 (9, 'Всеволод', 4, 'нет, AVG нов. уменьшится'),
 (9, 'Всеволод', 6, 'нет, AVG нов. уменьшится'),
 (10, 'Елизавета', 1, 'нет, AVG нов. уменьшится'),
 (10, 'Елизавета', 2, 'нет, AVG нов. уменьшится'),
 (10, 'Елизавета', 3, 'нет, AVG нов. уменьшится'),
 (10, 'Елизавета', 4, 'нет, AVG нов. уменьшится'),
 (10, 'Елизавета', 5, 'нет, AVG нов. уменьшится'),
 (11, 'Каллистрат', 1, 'нет, AVG нов. уменьшится'),
 (11, 'Каллистрат', 2, 'нет, AVG нов. уменьшится'),
 (11, 'Каллистрат', 4, 'нет, AVG нов. уменьшится'),
 (11, 'Каллистрат', 5, 'нет, AVG нов. уменьшится'),
 (11, 'Каллистрат', 6, 'нет, AVG нов. уменьшится'),
 (12, 'Емельян', 1, 'нет, AVG нов. уменьшится'),
 (12, 'Емельян', 2, 'нет, AVG нов. уменьшится'),
 (12, 'Емельян', 3, 'нет, AVG нов. уменьшится'),
 (12, 'Емельян', 4, 'нет, AVG нов. уменьшится'),
 (12, 'Емельян', 6, 'нет, AVG нов. уменьшится'),
 (13, 'Ираклий', 1, 'нет, AVG нов. уменьшится'),
 (13, 'Ираклий', 2, 'нет, AVG нов. уменьшится'),
 (13, 'Ираклий', 3, 'нет, AVG нов. уменьшится'),
 (13, 'Ираклий', 5, 'нет, AVG нов. уменьшится'),
 (13, 'Ираклий', 6, 'нет, AVG нов. уменьшится'),
 (14, 'Эмиль', 1, 'нет, AVG нов. уменьшится'),
 (14, 'Эмиль', 2, 'нет, AVG нов. уменьшится'),
 (14, 'Эмиль', 3, 'нет, AVG нов. уменьшится'),
 (14, 'Эмиль', 4, 'нет, AVG нов. уменьшится'),
 (14, 'Эмиль', 5, 'нет, AVG нов. уменьшится'),
 (15, 'Кондратий', 1, 'нет, AVG нов. уменьшится'),
 (15, 'Кондратий', 2, 'нет, AVG нов. уменьшится'),
 (15, 'Кондратий', 3, 'нет, AVG нов. уменьшится'),
 (15, 'Кондратий', 5, 'нет, AVG нов. уменьшится'),
 (15, 'Кондратий', 6, 'нет, AVG нов. уменьшится'),
 (16, 'Януарий', 1, 'да,возрастет'),
 (16, 'Януарий', 2, 'да,возрастет'),
 (16, 'Януарий', 3, 'да,возрастет'),
 (16, 'Януарий', 4, 'да,возрастет'),
 (16, 'Януарий', 5, 'да,возрастет'),
 (17, 'Аполлинарий', 2, 'нет, AVG нов. уменьшится'),
 (17, 'Аполлинарий', 3, 'нет, AVG нов. уменьшится'),
 (17, 'Аполлинарий', 4, 'нет, AVG нов. уменьшится'),
 (17, 'Аполлинарий', 5, 'нет, AVG нов. уменьшится'),
 (17, 'Аполлинарий', 6, 'нет, AVG нов. уменьшится'),
 (18, 'Нифонт', 1, 'нет, AVG нов. уменьшится'),
 (18, 'Нифонт', 2, 'нет, AVG нов. уменьшится'),
 (18, 'Нифонт', 3, 'нет, AVG нов. уменьшится'),
 (18, 'Нифонт', 5, 'нет, AVG нов. уменьшится'),
 (18, 'Нифонт', 6, 'нет, AVG нов. уменьшится'),
 (19, 'Спиридон', 1, 'нет, AVG тек. уменьшится'),
 (19, 'Спиридон', 2, 'нет, AVG тек. уменьшится'),
 (19, 'Спиридон', 3, 'нет, AVG тек. уменьшится'),
 (19, 'Спиридон', 4, 'нет, AVG тек. уменьшится'),
 (19, 'Спиридон', 6, 'нет, AVG тек. уменьшится'),
 (20, 'Яков', 1, 'нет, AVG тек. уменьшится'),
 (20, 'Яков', 2, 'нет, AVG тек. уменьшится'),
 (20, 'Яков', 3, 'нет, AVG тек. уменьшится'),
 (20, 'Яков', 5, 'нет, AVG тек. уменьшится'),
 (20, 'Яков', 6, 'нет, AVG тек. уменьшится'),
 (21, 'Нифонт', 1, 'нет, AVG нов. уменьшится'),
 (21, 'Нифонт', 2, 'нет, AVG нов. уменьшится'),
 (21, 'Нифонт', 3, 'нет, AVG нов. уменьшится'),
 (21, 'Нифонт', 4, 'нет, AVG нов. уменьшится'),
 (21, 'Нифонт', 6, 'нет, AVG нов. уменьшится'),
 (22, 'Любосмысл', 1, 'нет, AVG нов. уменьшится'),
 (22, 'Любосмысл', 2, 'нет, AVG нов. уменьшится'),
 (22, 'Любосмысл', 3, 'нет, AVG нов. уменьшится'),
 (22, 'Любосмысл', 4, 'нет, AVG нов. уменьшится'),
 (22, 'Любосмысл', 6, 'нет, AVG нов. уменьшится'),
 (23, 'Эмиль', 1, 'нет, AVG тек. уменьшится'),
 (23, 'Эмиль', 2, 'нет, AVG тек. уменьшится'),
 (23, 'Эмиль', 3, 'нет, AVG тек. уменьшится'),
 (23, 'Эмиль', 4, 'нет, AVG тек. уменьшится'),
 (23, 'Эмиль', 5, 'нет, AVG тек. уменьшится'),
 (24, 'Фрол', 1, 'нет, AVG нов. уменьшится'),
 (24, 'Фрол', 2, 'нет, AVG нов. уменьшится'),
 (24, 'Фрол', 3, 'нет, AVG нов. уменьшится'),
 (24, 'Фрол', 4, 'нет, AVG нов. уменьшится'),
 (24, 'Фрол', 6, 'нет, AVG нов. уменьшится'),
 (25, 'Вадим', 1, 'нет, AVG нов. уменьшится'),
 (25, 'Вадим', 3, 'нет, AVG нов. уменьшится'),
 (25, 'Вадим', 4, 'нет, AVG нов. уменьшится'),
 (25, 'Вадим', 5, 'нет, AVG нов. уменьшится'),
 (25, 'Вадим', 6, 'нет, AVG нов. уменьшится'),
 (26, 'Ерофей', 2, 'нет, AVG нов. уменьшится'),
 (26, 'Ерофей', 3, 'нет, AVG нов. уменьшится'),
 (26, 'Ерофей', 4, 'нет, AVG нов. уменьшится'),
 (26, 'Ерофей', 5, 'нет, AVG нов. уменьшится'),
 (26, 'Ерофей', 6, 'нет, AVG нов. уменьшится'),
 (27, 'Казимир', 1, 'нет, AVG тек. уменьшится'),
 (27, 'Казимир', 2, 'нет, AVG тек. уменьшится'),
 (27, 'Казимир', 3, 'нет, AVG тек. уменьшится'),
 (27, 'Казимир', 4, 'нет, AVG тек. уменьшится'),
 (27, 'Казимир', 6, 'нет, AVG тек. уменьшится'),
 (28, 'Елизавета', 1, 'нет, AVG нов. уменьшится'),
 (28, 'Елизавета', 2, 'нет, AVG нов. уменьшится'),
 (28, 'Елизавета', 4, 'нет, AVG нов. уменьшится'),
 (28, 'Елизавета', 5, 'нет, AVG нов. уменьшится'),
 (28, 'Елизавета', 6, 'нет, AVG нов. уменьшится'),
 (29, 'Симон', 2, 'нет, AVG тек. уменьшится'),
 (29, 'Симон', 3, 'нет, AVG тек. уменьшится'),
 (29, 'Симон', 4, 'нет, AVG тек. уменьшится'),
 (29, 'Симон', 5, 'нет, AVG тек. уменьшится'),
 (29, 'Симон', 6, 'нет, AVG тек. уменьшится'),
 (30, 'Прохор', 1, 'нет, AVG нов. уменьшится'),
 (30, 'Прохор', 2, 'нет, AVG нов. уменьшится'),
 (30, 'Прохор', 3, 'нет, AVG нов. уменьшится'),
 (30, 'Прохор', 4, 'нет, AVG нов. уменьшится'),
 (30, 'Прохор', 5, 'нет, AVG нов. уменьшится'),
 (31, 'Елизавета', 1, 'нет, AVG нов. уменьшится'),
 (31, 'Елизавета', 2, 'нет, AVG нов. уменьшится'),
 (31, 'Елизавета', 4, 'нет, AVG нов. уменьшится'),
 (31, 'Елизавета', 5, 'нет, AVG нов. уменьшится'),
 (31, 'Елизавета', 6, 'нет, AVG нов. уменьшится'),
 (32, 'Севастьян', 1, 'нет, AVG нов. уменьшится'),
 (32, 'Севастьян', 2, 'нет, AVG нов. уменьшится'),
 (32, 'Севастьян', 3, 'нет, AVG нов. уменьшится'),
 (32, 'Севастьян', 4, 'нет, AVG нов. уменьшится'),
 (32, 'Севастьян', 6, 'нет, AVG нов. уменьшится'),
 (33, 'Никита', 1, 'нет, AVG тек. уменьшится'),
 (33, 'Никита', 3, 'нет, AVG тек. уменьшится'),
 (33, 'Никита', 4, 'нет, AVG тек. уменьшится'),
 (33, 'Никита', 5, 'нет, AVG тек. уменьшится'),
 (33, 'Никита', 6, 'нет, AVG тек. уменьшится'),
 (34, 'Тимофей', 1, 'нет, AVG нов. уменьшится'),
 (34, 'Тимофей', 3, 'нет, AVG нов. уменьшится'),
 (34, 'Тимофей', 4, 'нет, AVG нов. уменьшится'),
 (34, 'Тимофей', 5, 'нет, AVG нов. уменьшится'),
 (34, 'Тимофей', 6, 'нет, AVG нов. уменьшится'),
 (35, 'Емельян', 2, 'нет, AVG нов. уменьшится'),
 (35, 'Емельян', 3, 'нет, AVG нов. уменьшится'),
 (35, 'Емельян', 4, 'нет, AVG нов. уменьшится'),
 (35, 'Емельян', 5, 'нет, AVG нов. уменьшится'),
 (35, 'Емельян', 6, 'нет, AVG нов. уменьшится'),
 (36, 'Яков', 1, 'нет, AVG тек. уменьшится'),
 (36, 'Яков', 2, 'нет, AVG тек. уменьшится'),
 (36, 'Яков', 4, 'нет, AVG тек. уменьшится'),
 (36, 'Яков', 5, 'нет, AVG тек. уменьшится'),
 (36, 'Яков', 6, 'нет, AVG тек. уменьшится'),
 (37, 'Казимир', 1, 'нет, AVG нов. уменьшится'),
 (37, 'Казимир', 2, 'нет, AVG нов. уменьшится'),
 (37, 'Казимир', 3, 'нет, AVG нов. уменьшится'),
 (37, 'Казимир', 4, 'нет, AVG нов. уменьшится'),
 (37, 'Казимир', 6, 'нет, AVG нов. уменьшится'),
 (38, 'Тимофей', 1, 'нет, AVG тек. уменьшится'),
 (38, 'Тимофей', 2, 'нет, AVG тек. уменьшится'),
 (38, 'Тимофей', 3, 'нет, AVG тек. уменьшится'),
 (38, 'Тимофей', 4, 'нет, AVG тек. уменьшится'),
 (38, 'Тимофей', 6, 'нет, AVG тек. уменьшится'),
 (39, 'Фрол', 2, 'нет, AVG нов. уменьшится'),
 (39, 'Фрол', 3, 'нет, AVG нов. уменьшится'),
 (39, 'Фрол', 4, 'нет, AVG нов. уменьшится'),
 (39, 'Фрол', 5, 'нет, AVG нов. уменьшится'),
 (39, 'Фрол', 6, 'нет, AVG нов. уменьшится'),
 (40, 'Мартьян', 1, 'нет, AVG тек. уменьшится'),
 (40, 'Мартьян', 2, 'нет, AVG тек. уменьшится'),
 (40, 'Мартьян', 3, 'нет, AVG тек. уменьшится'),
 (40, 'Мартьян', 4, 'нет, AVG тек. уменьшится'),
 (40, 'Мартьян', 6, 'нет, AVG тек. уменьшится'),
 (41, 'Андрон', 1, 'нет, AVG нов. уменьшится'),
 (41, 'Андрон', 3, 'нет, AVG нов. уменьшится'),
 (41, 'Андрон', 4, 'нет, AVG нов. уменьшится'),
 (41, 'Андрон', 5, 'нет, AVG нов. уменьшится'),
 (41, 'Андрон', 6, 'нет, AVG нов. уменьшится'),
 (42, 'Капитон', 1, 'нет, AVG тек. уменьшится'),
 (42, 'Капитон', 2, 'нет, AVG тек. уменьшится'),
 (42, 'Капитон', 3, 'нет, AVG тек. уменьшится'),
 (42, 'Капитон', 4, 'нет, AVG тек. уменьшится'),
 (42, 'Капитон', 6, 'нет, AVG тек. уменьшится'),
 (43, 'Аполлинарий', 1, 'нет, AVG нов. уменьшится'),
 (43, 'Аполлинарий', 3, 'нет, AVG нов. уменьшится'),
 (43, 'Аполлинарий', 4, 'нет, AVG нов. уменьшится'),
 (43, 'Аполлинарий', 5, 'нет, AVG нов. уменьшится'),
 (43, 'Аполлинарий', 6, 'нет, AVG нов. уменьшится'),
 (44, 'Иван', 2, 'нет, AVG нов. уменьшится'),
 (44, 'Иван', 3, 'нет, AVG нов. уменьшится'),
 (44, 'Иван', 4, 'нет, AVG нов. уменьшится'),
 (44, 'Иван', 5, 'нет, AVG нов. уменьшится'),
 (44, 'Иван', 6, 'нет, AVG нов. уменьшится'),
 (45, 'Вадим', 1, 'нет, AVG нов. уменьшится'),
 (45, 'Вадим', 2, 'нет, AVG нов. уменьшится'),
 (45, 'Вадим', 4, 'нет, AVG нов. уменьшится'),
 (45, 'Вадим', 5, 'нет, AVG нов. уменьшится'),
 (45, 'Вадим', 6, 'нет, AVG нов. уменьшится'),
 (46, 'Аполлон', 1, 'нет, AVG нов. уменьшится'),
 (46, 'Аполлон', 2, 'нет, AVG нов. уменьшится'),
 (46, 'Аполлон', 3, 'нет, AVG нов. уменьшится'),
 (46, 'Аполлон', 5, 'нет, AVG нов. уменьшится'),
 (46, 'Аполлон', 6, 'нет, AVG нов. уменьшится'),
 (47, 'Данила', 1, 'нет, AVG нов. уменьшится'),
 (47, 'Данила', 3, 'нет, AVG нов. уменьшится'),
 (47, 'Данила', 4, 'нет, AVG нов. уменьшится'),
 (47, 'Данила', 5, 'нет, AVG нов. уменьшится'),
 (47, 'Данила', 6, 'нет, AVG нов. уменьшится'),
 (48, 'Каллистрат', 1, 'нет, AVG нов. уменьшится'),
 (48, 'Каллистрат', 2, 'нет, AVG нов. уменьшится'),
 (48, 'Каллистрат', 4, 'нет, AVG нов. уменьшится'),
 (48, 'Каллистрат', 5, 'нет, AVG нов. уменьшится'),
 (48, 'Каллистрат', 6, 'нет, AVG нов. уменьшится'),
 (49, 'Фрол', 1, 'нет, AVG тек. уменьшится'),
 (49, 'Фрол', 2, 'нет, AVG тек. уменьшится'),
 (49, 'Фрол', 3, 'нет, AVG тек. уменьшится'),
 (49, 'Фрол', 4, 'нет, AVG тек. уменьшится'),
 (49, 'Фрол', 6, 'нет, AVG тек. уменьшится'),
 (50, 'Иван', 1, 'нет, AVG тек. уменьшится'),
 (50, 'Иван', 2, 'нет, AVG тек. уменьшится'),
 (50, 'Иван', 3, 'нет, AVG тек. уменьшится'),
 (50, 'Иван', 4, 'нет, AVG тек. уменьшится'),
 (50, 'Иван', 6, 'нет, AVG тек. уменьшится'),
 (51, 'Андрон', 1, 'нет, AVG нов. уменьшится'),
 (51, 'Андрон', 2, 'нет, AVG нов. уменьшится'),
 (51, 'Андрон', 4, 'нет, AVG нов. уменьшится'),
 (51, 'Андрон', 5, 'нет, AVG нов. уменьшится'),
 (51, 'Андрон', 6, 'нет, AVG нов. уменьшится'),
 (52, 'Севастьян', 1, 'нет, AVG тек. уменьшится'),
 (52, 'Севастьян', 2, 'нет, AVG тек. уменьшится'),
 (52, 'Севастьян', 4, 'нет, AVG тек. уменьшится'),
 (52, 'Севастьян', 5, 'нет, AVG тек. уменьшится'),
 (52, 'Севастьян', 6, 'нет, AVG тек. уменьшится'),
 (53, 'Регина', 2, 'нет, AVG нов. уменьшится'),
 (53, 'Регина', 3, 'нет, AVG нов. уменьшится'),
 (53, 'Регина', 4, 'нет, AVG нов. уменьшится'),
 (53, 'Регина', 5, 'нет, AVG нов. уменьшится'),
 (53, 'Регина', 6, 'нет, AVG нов. уменьшится'),
 (54, 'Кондратий', 1, 'нет, AVG нов. уменьшится'),
 (54, 'Кондратий', 3, 'нет, AVG нов. уменьшится'),
 (54, 'Кондратий', 4, 'нет, AVG нов. уменьшится'),
 (54, 'Кондратий', 5, 'нет, AVG нов. уменьшится'),
 (54, 'Кондратий', 6, 'нет, AVG нов. уменьшится'),
 (55, 'Вадим', 1, 'нет, AVG тек. уменьшится'),
 (55, 'Вадим', 2, 'нет, AVG тек. уменьшится'),
 (55, 'Вадим', 4, 'нет, AVG тек. уменьшится'),
 (55, 'Вадим', 5, 'нет, AVG тек. уменьшится'),
 (55, 'Вадим', 6, 'нет, AVG тек. уменьшится'),
 (56, 'Юрий', 1, 'нет, AVG тек. уменьшится'),
 (56, 'Юрий', 2, 'нет, AVG тек. уменьшится'),
 (56, 'Юрий', 4, 'нет, AVG тек. уменьшится'),
 (56, 'Юрий', 5, 'нет, AVG тек. уменьшится'),
 (56, 'Юрий', 6, 'нет, AVG тек. уменьшится'),
 (57, 'Григорий', 2, 'нет, AVG нов. уменьшится'),
 (57, 'Григорий', 3, 'нет, AVG нов. уменьшится'),
 (57, 'Григорий', 4, 'нет, AVG нов. уменьшится'),
 (57, 'Григорий', 5, 'нет, AVG нов. уменьшится'),
 (57, 'Григорий', 6, 'нет, AVG нов. уменьшится'),
 (58, 'Анна', 1, 'нет, AVG нов. уменьшится'),
 (58, 'Анна', 2, 'нет, AVG нов. уменьшится'),
 (58, 'Анна', 3, 'нет, AVG нов. уменьшится'),
 (58, 'Анна', 4, 'нет, AVG нов. уменьшится'),
 (58, 'Анна', 5, 'нет, AVG нов. уменьшится'),
 (59, 'Любовь', 1, 'нет, AVG нов. уменьшится'),
 (59, 'Любовь', 3, 'нет, AVG нов. уменьшится'),
 (59, 'Любовь', 4, 'нет, AVG нов. уменьшится'),
 (59, 'Любовь', 5, 'нет, AVG нов. уменьшится'),
 (59, 'Любовь', 6, 'нет, AVG нов. уменьшится'),
 (60, 'Яков', 1, 'нет, AVG нов. уменьшится'),
 (60, 'Яков', 2, 'нет, AVG нов. уменьшится'),
 (60, 'Яков', 4, 'нет, AVG нов. уменьшится'),
 (60, 'Яков', 5, 'нет, AVG нов. уменьшится'),
 (60, 'Яков', 6, 'нет, AVG нов. уменьшится'),
 (61, 'Вячеслав', 1, 'нет, AVG нов. уменьшится'),
 (61, 'Вячеслав', 2, 'нет, AVG нов. уменьшится'),
 (61, 'Вячеслав', 3, 'нет, AVG нов. уменьшится'),
 (61, 'Вячеслав', 4, 'нет, AVG нов. уменьшится'),
 (61, 'Вячеслав', 6, 'нет, AVG нов. уменьшится'),
 (62, 'Януарий', 2, 'нет, AVG тек. уменьшится'),
 (62, 'Януарий', 3, 'нет, AVG тек. уменьшится'),
 (62, 'Януарий', 4, 'нет, AVG тек. уменьшится'),
 (62, 'Януарий', 5, 'нет, AVG тек. уменьшится'),
 (62, 'Януарий', 6, 'нет, AVG тек. уменьшится'),
 (63, 'Милий', 1, 'нет, AVG тек. уменьшится'),
 (63, 'Милий', 2, 'нет, AVG тек. уменьшится'),
 (63, 'Милий', 3, 'нет, AVG тек. уменьшится'),
 (63, 'Милий', 4, 'нет, AVG тек. уменьшится'),
 (63, 'Милий', 5, 'нет, AVG тек. уменьшится'),
 (64, 'Анжелика', 1, 'нет, AVG тек. уменьшится'),
 (64, 'Анжелика', 2, 'нет, AVG тек. уменьшится'),
 (64, 'Анжелика', 3, 'нет, AVG тек. уменьшится'),
 (64, 'Анжелика', 4, 'нет, AVG тек. уменьшится'),
 (64, 'Анжелика', 5, 'нет, AVG тек. уменьшится'),
 (65, 'Анжелика', 1, 'нет, AVG нов. уменьшится'),
 (65, 'Анжелика', 3, 'нет, AVG нов. уменьшится'),
 (65, 'Анжелика', 4, 'нет, AVG нов. уменьшится'),
 (65, 'Анжелика', 5, 'нет, AVG нов. уменьшится'),
 (65, 'Анжелика', 6, 'нет, AVG нов. уменьшится'),
 (66, 'Казимир', 1, 'нет, AVG нов. уменьшится'),
 (66, 'Казимир', 2, 'нет, AVG нов. уменьшится'),
 (66, 'Казимир', 4, 'нет, AVG нов. уменьшится'),
 (66, 'Казимир', 5, 'нет, AVG нов. уменьшится'),
 (66, 'Казимир', 6, 'нет, AVG нов. уменьшится'),
 (67, 'Вадим', 1, 'нет, AVG тек. уменьшится'),
 (67, 'Вадим', 3, 'нет, AVG тек. уменьшится'),
 (67, 'Вадим', 4, 'нет, AVG тек. уменьшится'),
 (67, 'Вадим', 5, 'нет, AVG тек. уменьшится'),
 (67, 'Вадим', 6, 'нет, AVG тек. уменьшится'),
 (68, 'Ираклий', 1, 'нет, AVG тек. уменьшится'),
 (68, 'Ираклий', 2, 'нет, AVG тек. уменьшится'),
 (68, 'Ираклий', 3, 'нет, AVG тек. уменьшится'),
 (68, 'Ираклий', 4, 'нет, AVG тек. уменьшится'),
 (68, 'Ираклий', 5, 'нет, AVG тек. уменьшится'),
 (69, 'Аполлон', 1, 'нет, AVG тек. уменьшится'),
 (69, 'Аполлон', 2, 'нет, AVG тек. уменьшится'),
 (69, 'Аполлон', 3, 'нет, AVG тек. уменьшится'),
 (69, 'Аполлон', 4, 'нет, AVG тек. уменьшится'),
 (69, 'Аполлон', 6, 'нет, AVG тек. уменьшится'),
 (70, 'Вадим', 1, 'нет, AVG нов. уменьшится'),
 (70, 'Вадим', 2, 'нет, AVG нов. уменьшится'),
 (70, 'Вадим', 4, 'нет, AVG нов. уменьшится'),
 (70, 'Вадим', 5, 'нет, AVG нов. уменьшится'),
 (70, 'Вадим', 6, 'нет, AVG нов. уменьшится'),
 (71, 'Ростислав', 2, 'нет, AVG тек. уменьшится'),
 (71, 'Ростислав', 3, 'нет, AVG тек. уменьшится'),
 (71, 'Ростислав', 4, 'нет, AVG тек. уменьшится'),
 (71, 'Ростислав', 5, 'нет, AVG тек. уменьшится'),
 (71, 'Ростислав', 6, 'нет, AVG тек. уменьшится'),
 (72, 'Севастьян', 1, 'нет, AVG тек. уменьшится'),
 (72, 'Севастьян', 2, 'нет, AVG тек. уменьшится'),
 (72, 'Севастьян', 3, 'нет, AVG тек. уменьшится'),
 (72, 'Севастьян', 4, 'нет, AVG тек. уменьшится'),
 (72, 'Севастьян', 5, 'нет, AVG тек. уменьшится'),
 (73, 'Афиноген', 2, 'нет, AVG тек. уменьшится'),
 (73, 'Афиноген', 3, 'нет, AVG тек. уменьшится'),
 (73, 'Афиноген', 4, 'нет, AVG тек. уменьшится'),
 (73, 'Афиноген', 5, 'нет, AVG тек. уменьшится'),
 (73, 'Афиноген', 6, 'нет, AVG тек. уменьшится'),
 (74, 'Вячеслав', 1, 'нет, AVG тек. уменьшится'),
 (74, 'Вячеслав', 3, 'нет, AVG тек. уменьшится'),
 (74, 'Вячеслав', 4, 'нет, AVG тек. уменьшится'),
 (74, 'Вячеслав', 5, 'нет, AVG тек. уменьшится'),
 (74, 'Вячеслав', 6, 'нет, AVG тек. уменьшится'),
 (75, 'Ермил', 1, 'нет, AVG нов. уменьшится'),
 (75, 'Ермил', 2, 'нет, AVG нов. уменьшится'),
 (75, 'Ермил', 3, 'нет, AVG нов. уменьшится'),
 (75, 'Ермил', 4, 'нет, AVG нов. уменьшится'),
 (75, 'Ермил', 5, 'нет, AVG нов. уменьшится'),
 (76, 'Дмитрий', 2, 'нет, AVG тек. уменьшится'),
 (76, 'Дмитрий', 3, 'нет, AVG тек. уменьшится'),
 (76, 'Дмитрий', 4, 'нет, AVG тек. уменьшится'),
 (76, 'Дмитрий', 5, 'нет, AVG тек. уменьшится'),
 (76, 'Дмитрий', 6, 'нет, AVG тек. уменьшится'),
 (77, 'Андрон', 1, 'нет, AVG тек. уменьшится'),
 (77, 'Андрон', 3, 'нет, AVG тек. уменьшится'),
 (77, 'Андрон', 4, 'нет, AVG тек. уменьшится'),
 (77, 'Андрон', 5, 'нет, AVG тек. уменьшится'),
 (77, 'Андрон', 6, 'нет, AVG тек. уменьшится'),
 (78, 'Данила', 1, 'нет, AVG нов. уменьшится'),
 (78, 'Данила', 2, 'нет, AVG нов. уменьшится'),
 (78, 'Данила', 3, 'нет, AVG нов. уменьшится'),
 (78, 'Данила', 5, 'нет, AVG нов. уменьшится'),
 (78, 'Данила', 6, 'нет, AVG нов. уменьшится'),
 (79, 'Андроник', 1, 'нет, AVG тек. уменьшится'),
 (79, 'Андроник', 3, 'нет, AVG тек. уменьшится'),
 (79, 'Андроник', 4, 'нет, AVG тек. уменьшится'),
 (79, 'Андроник', 5, 'нет, AVG тек. уменьшится'),
 (79, 'Андроник', 6, 'нет, AVG тек. уменьшится'),
 (80, 'Казимир', 1, 'нет, AVG нов. уменьшится'),
 (80, 'Казимир', 3, 'нет, AVG нов. уменьшится'),
 (80, 'Казимир', 4, 'нет, AVG нов. уменьшится'),
 (80, 'Казимир', 5, 'нет, AVG нов. уменьшится'),
 (80, 'Казимир', 6, 'нет, AVG нов. уменьшится'),
 (81, 'Каллистрат', 1, 'нет, AVG тек. уменьшится'),
 (81, 'Каллистрат', 2, 'нет, AVG тек. уменьшится'),
 (81, 'Каллистрат', 3, 'нет, AVG тек. уменьшится'),
 (81, 'Каллистрат', 4, 'нет, AVG тек. уменьшится'),
 (81, 'Каллистрат', 5, 'нет, AVG тек. уменьшится'),
 (82, 'Никита', 1, 'нет, AVG тек. уменьшится'),
 (82, 'Никита', 2, 'нет, AVG тек. уменьшится'),
 (82, 'Никита', 3, 'нет, AVG тек. уменьшится'),
 (82, 'Никита', 4, 'нет, AVG тек. уменьшится'),
 (82, 'Никита', 6, 'нет, AVG тек. уменьшится'),
 (83, 'Эмиль', 1, 'нет, AVG нов. уменьшится'),
 (83, 'Эмиль', 2, 'нет, AVG нов. уменьшится'),

In [63]:
conn.close()