In [1]:
import pandas as pd

# Загрузка данныx

In [2]:
sales = pd.read_csv('sales.csv', sep=';')

In [3]:
sales.head()

   order_id  product_id  count  customer_id  is_additional
0  12856119        6083  1,000      1655898              0
1  12856119        7147  1,000      1655898              0
2  12856119        3527  1,000      1655898              0
3  12856119        5589  1,000      1655898              0
4  12856119        3670  1,000      1655898              0

## Работа с products

In [4]:
# заглушки поставил к столбцам , у которых есть значения в неизвестных столбцах.
products = pd.read_csv('products.csv', encoding='cp1251',sep=';', names=['id','title','xz','xz2'])

In [5]:
products.head()

     id            title   xz  xz2
0    id            title  NaN  NaN
1  7850     Лук зеленый   NaN  NaN
2  7849  Мята свежая вес  NaN  NaN
3  2050     Соусник 30мл  NaN  NaN
4  2032     Соусник 50мл  NaN  NaN

In [6]:
# удалим первую строку - там название столбцов
products = products.iloc[1:,:].reset_index(drop=True)

In [7]:
# посмотрим внимательнее на эти данные
products[products['xz'].isna() == False]

,id,title,xz,xz2
646,3911,"Сыр коровий полутвердый PeppeVerde"" в/у","кг""",NaN
798,4123,"Шашлык куриный Нежный""","кг""",NaN
2148,6146,"Молоко PARMALAT"" 3","5% 1л""",NaN
2237,6315,"Сардельки Детские""",ц/о,"в/у 240гр"""
2238,6316,"Говядина сырокопченая По-каталонски"" категории А","150гр""",NaN
2661,6888,"Tasty Coffee; эспрессо-смесь Декаф""",молотый,"250 грамм"""
2795,7040,"Печенье песочное С солью"" БЕЗГЛЮТЕНОВОЕ",Жизньмарт,"100г"""
2796,7041,"Печенье песочное С кунжутом"" БЕЗГЛЮТЕНОВОЕ",Жизньмарт,"100г"""
2838,7094,"Смесь пряностей Для глинтвейна"" 32 гр.",крафт-пакет,"без логотипа"""
2925,7196,"Средство дезинфицирующее Плазмасепт"" СТЕП","200 мл""",NaN
3213,7550,"Tasty Coffee; эспрессо-смесь Декаф""","молотый 250 гр""",NaN
3214,7551,"Японский зеленый чай Матча премиум"" (PG)","250гр""",NaN
3422,7785,"Аромасвеча Пряный Глинвейн""","100мл""",NaN
3423,7786,"Аромасвеча Кашемировый плед""","100мл""",NaN
3424,7787,"Аромасвеча ХвояХвоя""","100мл""",NaN

In [8]:
products[products['xz2'].isna() == False]

,id,title,xz,xz2
2237,6315,"Сардельки Детские""",ц/о,"в/у 240гр"""
2661,6888,"Tasty Coffee; эспрессо-смесь Декаф""",молотый,"250 грамм"""
2795,7040,"Печенье песочное С солью"" БЕЗГЛЮТЕНОВОЕ",Жизньмарт,"100г"""
2796,7041,"Печенье песочное С кунжутом"" БЕЗГЛЮТЕНОВОЕ",Жизньмарт,"100г"""
2838,7094,"Смесь пряностей Для глинтвейна"" 32 гр.",крафт-пакет,"без логотипа"""

* В столбцах xz и xz2 пересекается текст, значения , которые есть в xz2, есть и в xz1.

3589 должно быть строк

In [9]:
products['title'] = products['title'].str.lower()

In [10]:
products['bool_xz'] = products['title'].apply(lambda x:True if 'жизньмарт' in x else False)

In [11]:
products[products['bool_xz'] == True]

,id,title,xz,xz2,bool_xz
383,4479,сахар порционный жизньмарт 5гр; шт,NaN,NaN,True
384,4480,соль порционная жизньмарт 1гр; шт,NaN,NaN,True
385,4481,перец порционный жизньмарт 0;25гр; шт,NaN,NaN,True
775,4085,"попасть в сториз instagram' а жизньмарт""""",NaN,NaN,True
776,4086,участвовать в дегустации новых продуктов жизнь...,NaN,NaN,True
816,4141,ролл сливочный с огурцом; шт (жизньмарт),NaN,NaN,True
1268,4958,онигири с сурими жизньмарт,NaN,NaN,True
1270,4960,онигири с куриным филе в соусе спайси жизньмарт,NaN,NaN,True
1635,5258,маска тканевая с логотипом жизньмарт (не медиц...,NaN,NaN,True
1640,5269,ролл филадельфия с ядрами семян конопли (жизнь...,NaN,NaN,True
1652,5316,чипсы картофельные с орегано 65г жизньмарт,NaN,NaN,True
1663,5335,бенто-ланч №1 (жизньмарт),NaN,NaN,True
1664,5336,бенто-ланч №2 (жизньмарт),NaN,NaN,True
1665,5317,чипсы картофельные с фахитос 65г жизньмарт,NaN,NaN,True
1669,5473,соус песто жизньмарт,NaN,NaN,True
1674,5323,роллы филадельфия/канада (жизньмарт),NaN,NaN,True
1729,5472,молоко сгущенное с сахаром вареное жизньмарт,NaN,NaN,True
1738,5490,соус томатный 100г жизньмарт,NaN,NaN,True
1765,5584,ролл с авокадо и перцем 4шт (жизньмарт),NaN,NaN,True
1782,5601,соус соевый легкий жизньмарт с/б; 250мл,NaN,NaN,True
1845,5722,чукка фреш с ореховым соусом 171г жизньмарт,NaN,NaN,True
1889,5771,роллы филадельфия/канада (жизньмарт)/холодильники,NaN,NaN,True
1916,5823,овощной набор брокколи; кабачок; морковь 400г ...,NaN,NaN,True
1922,5815,суши сендвич с лососем жизньмарт,NaN,NaN,True
1923,5816,суши сендвич с лососем и суши сендвич с чуккой...,NaN,NaN,True
1959,5856,чипсы картофельные с фахитос 65г жизньмарт/ хо...,NaN,NaN,True
2270,6360,аромат свежей выпечки жизньмарт - свеча,NaN,NaN,True
2380,6507,соус соевый легкий жизньмарт сб,NaN,NaN,True
2542,6710,суши сендвич с чуккой жизньмарт,NaN,NaN,True
2680,6907,кофе в жизньмарт,NaN,NaN,True
2748,6983,суши сендвич с курицей спайси жизньмарт,NaN,NaN,True
2749,6984,суши сендвич с тунцом и лососем жизньмарт,NaN,NaN,True
2810,7060,ролл тортилья с лососем спайси; шт (жизньмарт),NaN,NaN,True
2811,7061,ролл чукка с снежным крабом; шт (жизньмарт),NaN,NaN,True
2812,7062,суширита с курицей спайси; шт (жизньмарт),NaN,NaN,True
2813,7063,суширита с лососем; шт (жизньмарт),NaN,NaN,True
2814,7064,ролл с лососем и огурцом; шт (жизньмарт),NaN,NaN,True
2965,7243,соус соевый легкий жизньмарт сб*,NaN,NaN,True
3098,7407,роллы канада/с лососем и огурцом (жизньмарт),NaN,NaN,True
3377,7722,роллы филадельфия/с лососем и огурцом (жизньмарт),NaN,NaN,True

В общем, привел к нижнему регистру все значения(Чтобы ленче увидеть и избежать вероятност ошибки регистра), добавил ,булевый столбец по кф 'жизньмарт' -> нашел в разлинчыч title его.

Следовательно, я объединю XZ и XZ2 в title, это текст одного title более веротяно.

In [12]:
products = products.fillna('')

In [13]:
def add_title(df):
    return df['title'] + df['xz'] + df['xz2']

In [14]:
products['title'] = products.apply(add_title, axis=1)

In [15]:
products[products['xz2'] != '']

,id,title,xz,xz2,bool_xz
2237,6315,"сардельки детские"" ц/о в/у 240гр""",ц/о,"в/у 240гр""",False
2661,6888,"tasty coffee; эспрессо-смесь декаф"" молотый 25...",молотый,"250 грамм""",False
2795,7040,"печенье песочное с солью"" безглютеновое Жизньм...",Жизньмарт,"100г""",False
2796,7041,"печенье песочное с кунжутом"" безглютеновое Жиз...",Жизньмарт,"100г""",False
2838,7094,"смесь пряностей для глинтвейна"" 32 гр. крафт-п...",крафт-пакет,"без логотипа""",False

In [16]:
products[products['xz'] != '']

,id,title,xz,xz2,bool_xz
646,3911,"сыр коровий полутвердый peppeverde"" в/у кг""","кг""",,False
798,4123,"шашлык куриный нежный"" кг""","кг""",,False
2148,6146,"молоко parmalat"" 35% 1л""","5% 1л""",,False
2237,6315,"сардельки детские"" ц/о в/у 240гр""",ц/о,"в/у 240гр""",False
2238,6316,"говядина сырокопченая по-каталонски"" категории...","150гр""",,False
2661,6888,"tasty coffee; эспрессо-смесь декаф"" молотый 25...",молотый,"250 грамм""",False
2795,7040,"печенье песочное с солью"" безглютеновое Жизньм...",Жизньмарт,"100г""",False
2796,7041,"печенье песочное с кунжутом"" безглютеновое Жиз...",Жизньмарт,"100г""",False
2838,7094,"смесь пряностей для глинтвейна"" 32 гр. крафт-п...",крафт-пакет,"без логотипа""",False
2925,7196,"средство дезинфицирующее плазмасепт"" степ 200 мл""","200 мл""",,False
3213,7550,"tasty coffee; эспрессо-смесь декаф"" молотый 25...","молотый 250 гр""",,False
3214,7551,"японский зеленый чай матча премиум"" (pg) 250гр""","250гр""",,False
3422,7785,"аромасвеча пряный глинвейн"" 100мл""","100мл""",,False
3423,7786,"аромасвеча кашемировый плед""100мл""","100мл""",,False
3424,7787,"аромасвеча хвояхвоя""100мл""","100мл""",,False

In [17]:
products = products.drop(['xz','xz2','bool_xz'], axis=1)

In [18]:
products

        id                                              title
0     7850                                       лук зеленый
1     7849                                    мята свежая вес
2     2050                                       соусник 30мл
3     2032                                       соусник 50мл
4     1404                             лосось филе обрезь п/ф
...    ...                                                ...
3584  7993                            мини мандаринки сладкие
3585  7994  масло подсолнечное нерафинированное 250 мл (с ...
3586  7995  масло оливковое нерафинированное 250 мл (с доз...
3587  7996  масло авокадо нерафинированное 250 мл (с дозат...
3588  8005                                  яблоки голден 1кг

[3589 rows x 2 columns]

# Решение задач

### Предобработка данных

In [19]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       50000 non-null  int64
 1   product_id     50000 non-null  int64
 2   count          50000 non-null  object
 3   customer_id    50000 non-null  int64
 4   is_additional  50000 non-null  int64
dtypes: int64(4), object(1)
memory usage: 1.9+ MB

видноm, что категориальныек столбцы изменены на числовой тип, нужно измениить. А count определен, как категориальный.

In [20]:
sales['order_id']=sales['order_id'].astype('str')
sales['product_id']=sales['product_id'].astype('str')
# sales['count']=sales['count'].astype('float')
sales['customer_id']=sales['customer_id'].astype('str')
sales['is_additional']=sales['is_additional'].astype('object')

при смене типа данных у count выдает ошибку

In [21]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       50000 non-null  object
 1   product_id     50000 non-null  object
 2   count          50000 non-null  object
 3   customer_id    50000 non-null  object
 4   is_additional  50000 non-null  object
dtypes: object(5)
memory usage: 1.9+ MB

In [22]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3589 entries, 0 to 3588
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3589 non-null   object
 1   title   3589 non-null   object
dtypes: object(2)
memory usage: 56.2+ KB

Создадаим общую таблицу

In [23]:
total = sales.merge(products, left_on='product_id', right_on='id', how='left')

In [24]:
total.isna().sum()

order_id         0
product_id       0
count            0
customer_id      0
is_additional    0
id               0
title            0
dtype: int64

пропусков нет, удалим лишний столбец.

In [25]:
total =total.drop('id', axis=1)

In [26]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       50000 non-null  object
 1   product_id     50000 non-null  object
 2   count          50000 non-null  object
 3   customer_id    50000 non-null  object
 4   is_additional  50000 non-null  object
 5   title          50000 non-null  object
dtypes: object(6)
memory usage: 2.3+ MB

посмотрим подробнее на столбец count

In [27]:
total['count'].value_counts()

count
1,000    41078
2,000     5458
3,000     1077
4,000      428
5,000      246
         ...
0,824        1
1,506        1
1,276        1
1,608        1
1,504        1
Name: count, Length: 513, dtype: int64

видно, что есть значений типа float - интересно, что в них.
Этапы: 
* меняем точку на запятую
* меняет тип на флоат
* смотрим на данные

In [28]:
total['count'] = total['count'].str.replace(',','.')

In [29]:
total['count'] = total['count'].astype('float')

In [30]:
total['count'].value_counts()

count
1.000    41078
2.000     5458
3.000     1077
4.000      428
5.000      246
         ...
0.824        1
1.506        1
1.276        1
1.608        1
1.504        1
Name: count, Length: 513, dtype: int64

In [31]:
print('Кол-во уникальных значений:', len(total[total['count'] < 1]['title'].value_counts()))

Кол-во уникальных значений: 62

In [32]:
total[total['count'] < 1]['title'].value_counts().head(60)

title
бананы эквадор; кг                             117
мандарин                                       108
авокадо зеленый                                 64
лосось слабосоленый с зеленью                   57
яблоки красные                                  49
авокадо хасс вес                                49
лимон; кг                                       47
огурцы пупырчатые россия                        46
томат розовый узбекистан                        44
груша конференция аргентина                     37
морковь                                         35
соус песто жизньмарт                            33
пудинг из творога; кг                           32
филе свежего лосося                             31
сыр гауда в/у; кг                               30
яблоки зеленые                                  29
апельсины египет                                27
лук репчатый                                    26
томат тепличный россия                          26
качотта с грецким орехом                        24
киви иран                                       23
брокколи израиль                                23
кабачки еаэс; кг                                22
яблоки голден иран                              22
гранат                                          20
огурцы гладкие среднеплодные россия             18
пудинг из творога с курагой; кг                 18
пудинг из творога с изюмом; кг                  18
перец красный турция; кг                        17
томат коктейльный желтый                        16
лук красный                                     14
стебель сельдерея                               14
салат айсберг вес.                              12
грейпфрут; кг                                   12
батат израиль                                   10
филе тунца нарезанное                            9
сыр монблан с белой плесенью; кг                 9
инжирный сыр                                     9
груша пакхам аргентина                           9
картофель бейби россия                           8
сыр маасдам                                      8
томаты кумато россия                             8
картофель                                        6
бедро кролика охл; кг                            5
полутушка утки в маринаде гриль""                5
чеснок                                           4
капуста цветная россия                           4
хурма                                            2
филе кролика охл; кг                             2
сыр коровий полутвердый peppeverde" в/у кг"      2
дорадо; зам.непоторошеная с головой              2
сибас рыба зам.непоторошеная с головой; кг       2
корень имбиря                                    2
лосось на гриле; кг                              2
филе окуня на шкуре; кг                          1
печень кролика охл; кг                           1
капуста белокочанная россия                      1
овощи/фрукты уцененные                           1
форель горячего копчения кг                      1
буженина                                         1
Name: count, dtype: int64

In [33]:
total[total['count'] < 1]['title'].value_counts().tail(2)

title
суповой набор из лосося; кг    1
манго премиум вес              1
Name: count, dtype: int64

In [34]:
total[total['count'] > 1]['count'].value_counts().head(60)

count
2.000     5458
3.000     1077
4.000      428
5.000      246
10.000      96
6.000       93
7.000       29
8.000       21
20.000       6
1.014        5
1.034        5
15.000       4
1.068        4
1.132        4
11.000       4
1.222        3
9.000        3
1.208        3
1.118        3
1.190        2
12.000       2
1.264        2
1.024        2
1.022        2
1.152        2
1.036        2
1.186        2
1.062        2
1.026        2
1.198        2
1.448        2
1.164        2
1.012        2
1.002        2
1.500        2
1.214        2
1.100        2
1.076        2
17.000       2
2.148        2
1.228        2
1.104        2
1.876        2
1.072        1
1.040        1
1.826        1
2.096        1
1.446        1
2.034        1
2.974        1
1.272        1
1.080        1
2.156        1
14.000       1
1.600        1
1.060        1
2.024        1
1.162        1
1.688        1
2.176        1
Name: count, dtype: int64

* так как это различные товары с вемсом , кол-во можно учесть как 1 вместо весового параметра.

In [35]:
2.0 % 1 == 0

True

In [36]:
int(2.154)

2

In [37]:
total[total['count'] == 2.176]

,order_id,product_id,count,customer_id,is_additional,title
34413,13928990,4110,2.176,28709,0,картофель бейби россия

In [38]:
def counter(num):
    if num%1 !=0:
        return 1
    return int(num)

In [39]:
total['counter']=total['count'].apply(counter)

In [40]:
total['counter'].value_counts()

counter
1     42527
2      5458
3      1077
4       428
5       246
10       96
6        93
7        29
8        21
20        6
15        4
11        4
9         3
17        2
12        2
29        1
35        1
14        1
13        1
Name: count, dtype: int64

## Для каждого вида доп. продукции нужно по посчитать – сколько в среднем заказывают данного вида продукции на один основной товар (только среди заказов, содержащих данный вид доп.продукции). Например, для доп.товара «Вилка» мы должны взять все заказы, содержащие вилку, и поделить количество вилок на количество основных товаров в заказе.

В CSV-файлах представлены два датасета:

Список заказов интернет-магазина. Содержит следующие поля:

*	Уникальный ID заказа
*	ID товара в заказе
*	Заказанное количество данного товара
*	Уникальный ID покупателя
*	Признак дополнительного товара


Cправочник товаров

Товары в заказах делятся на основные (is_additional=0) и «дополнительные» (бесплатная продукция, которая идет к заказу, is_additional=1)
Необходимо получить ответы на следующие вопросы:

In [41]:
# доп. продукция

addit_product = total[total['is_additional'] == 1]

In [42]:
# кол-во каждого доп. товара в каждом заказе, где есть доп. товары
addit = addit_product.pivot_table(index='order_id', 
                        columns='title', 
                        values='counter', 
                        aggfunc='sum',
                       fill_value=0)
addit

title,вилка черная,ложка черная,нож черный,палочки бамбуковые в индивидуальной упаковке,палочки бамбуковые стм,перец порционный жизньмарт 0;25гр; шт,сахар порционный жизньмарт 5гр; шт,соль порционная жизньмарт 1гр; шт
order_id,,,,,,,,
12856119,1,0,0,0,0,0,0,0
13741918,1,0,0,0,0,0,2,0
13742134,1,0,0,0,0,0,4,0
13742143,1,0,0,0,0,0,1,0
13742155,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
14043142,2,0,0,0,1,0,0,0
14043171,1,0,0,0,0,1,0,0
14043273,2,2,0,0,0,0,0,0
14043359,2,0,2,0,0,2,0,2
14043876,0,0,0,0,1,0,0,0

In [43]:
# дф заказов без учета доп. продукций
main_product = total[total['is_additional'] == 0]

In [44]:
# кол-во основного товара в каждом заказе

main = main_product.pivot_table(index='order_id', 
                        columns='title', 
                        values='counter', 
                        aggfunc='sum',fill_value=0
                       )

main

title,bowl семга слабая соль 215г,bowl тунец туна ля консерва 215г,«оливье» салат 190 гр,абрикосовый конфитюр с тмином,авокадо зеленый,авокадо хасс вес,авторская халва с инжиром 200 гр,авторская халва с соленой карамелью 200 гр,аджика кавказская 250г,айвар из запеченного сладкого перца с вялеными томатами 250г,...,яблоки красные,яблоки красные; 1 кг упак,яблоко 35г (фруктовые чипсы),ягодный какао с мятой доставка,ядро фундука 80г только польза,"язык говяжий вар. традиционный""""",яйцо вареное с микрозеленью,яйцо куриное пищевое с-о (фасов. по 6 шт.),яйцо куриное пищевое с-о (фасов. по 10 шт.),яйцо куриное фермерское (фасов. по 9шт)
order_id,,,,,,,,,,,,,,,,,,,,,
12856119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13741718,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13741766,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13741808,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13741815,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14044401,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14044442,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14044459,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14044520,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14044524,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
# считаем кол-во основных товаров по каждому заказу
main['total_count_main']=main.sum(axis=1)

In [46]:
df1 = addit.merge(main.iloc[:,-1], 
                  left_index =True, 
                  right_index =True, 
                  how='left' )

In [47]:
df1

,вилка черная,ложка черная,нож черный,палочки бамбуковые в индивидуальной упаковке,палочки бамбуковые стм,перец порционный жизньмарт 0;25гр; шт,сахар порционный жизньмарт 5гр; шт,соль порционная жизньмарт 1гр; шт,total_count_main
order_id,,,,,,,,,
12856119,1,0,0,0,0,0,0,0,10
13741918,1,0,0,0,0,0,2,0,5
13742134,1,0,0,0,0,0,4,0,5
13742143,1,0,0,0,0,0,1,0,4
13742155,0,0,0,1,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...
14043142,2,0,0,0,1,0,0,0,5
14043171,1,0,0,0,0,1,0,0,3
14043273,2,2,0,0,0,0,0,0,4
14043359,2,0,2,0,0,2,0,2,10
14043876,0,0,0,0,1,0,0,0,11

In [48]:
def mean_addit(df, column) -> float:
    """ возвращает среднее по двум столбцам.
        Столбец доп. товара и столбец кол-ва основных товаров 
    """
    
    new_df = df[df[column] >0][[column,'total_count_main']]
    return new_df.sum().iloc[0] / new_df.sum().iloc[1]

In [49]:
answer1 = {}
for col in df1.columns[:-1]:
    num = mean_addit(df1, col)
    answer1[col] = num

In [50]:
answer1

{'вилка черная': 0.4040566645202833,
 'ложка черная': 0.3338323353293413,
 'нож черный': 0.3411240957150807,
 'палочки бамбуковые в индивидуальной упаковке ': 0.2101684895063553,
 'палочки бамбуковые стм': 0.2407874810701666,
 'перец порционный жизньмарт 0;25гр;  шт ': 0.32988267770876467,
 'сахар порционный жизньмарт 5гр; шт': 0.38596491228070173,
 'соль порционная жизньмарт 1гр; шт ': 0.32624584717607974}

ниже немного симпатичее и нагляднее сделал, в виде таблицы.

In [51]:
asnwer1_df = pd.DataFrame(answer1, 
             index=['Среднее по доп. товару на 1 основной'])\
.T\
.sort_values('Среднее по доп. товару на 1 основной', 
             ascending=False)
#asnwer1_df['Среднее по доп. товару на 1 основной'] = round(asnwer1_df['Среднее по доп. товару на 1 основной'],3)
asnwer1_df

                                               Среднее по доп. товару на 1 основной
вилка черная                                                               0.404057
сахар порционный жизньмарт 5гр; шт                                         0.385965
нож черный                                                                 0.341124
ложка черная                                                               0.333832
перец порционный жизньмарт 0;25гр;  шт                                     0.329883
соль порционная жизньмарт 1гр; шт                                          0.326246
палочки бамбуковые стм                                                     0.240787
палочки бамбуковые в индивидуальной упаковке                               0.210168

In [52]:
display(round(asnwer1_df['Среднее по доп. товару на 1 основной'],3))

вилка черная                                     0.404
сахар порционный жизньмарт 5гр; шт               0.386
нож черный                                       0.341
ложка черная                                     0.334
перец порционный жизньмарт 0;25гр;  шт           0.330
соль порционная жизньмарт 1гр; шт                0.326
палочки бамбуковые стм                           0.241
палочки бамбуковые в индивидуальной упаковке     0.210
Name: Среднее по доп. товару на 1 основной, dtype: float64

## Для каждого вида доп.продукции нужно получить ТОП-10 основных товаров, с которым его заказывают чаще всего

План:
* фильтруем по каждому доп. продукту
* merge с основной таблицей

In [53]:
# -1, чтобы убрать опдсчет общего кол-ва основных товров по заказу

df2 = addit.merge(main.iloc[:,:-1], 
                  left_index =True, 
                  right_index =True, 
                  how='left' )
df2

title,вилка черная_x,ложка черная,нож черный_x,палочки бамбуковые в индивидуальной упаковке _x,палочки бамбуковые стм,перец порционный жизньмарт 0;25гр; шт,сахар порционный жизньмарт 5гр; шт,соль порционная жизньмарт 1гр; шт,bowl семга слабая соль 215г,bowl тунец туна ля консерва 215г,...,яблоки красные,яблоки красные; 1 кг упак,яблоко 35г (фруктовые чипсы),ягодный какао с мятой доставка,ядро фундука 80г только польза,"язык говяжий вар. традиционный""""",яйцо вареное с микрозеленью,яйцо куриное пищевое с-о (фасов. по 6 шт.),яйцо куриное пищевое с-о (фасов. по 10 шт.),яйцо куриное фермерское (фасов. по 9шт)
order_id,,,,,,,,,,,,,,,,,,,,,
12856119,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13741918,1,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,1,0,0,0
13742134,1,0,0,0,0,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13742143,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13742155,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14043142,2,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14043171,1,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
14043273,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14043359,2,0,2,0,0,2,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
14043876,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Странно, что у первых столбцов таблицы, это столбцы доп. товаров появился '_x'. Поссмотрим ниже были ли основными товарами столбцы:
* вилка черная
* нож черный
* палочки бамбуковые в индивидуальной упаковке

In [54]:
total[total['title'] == 'палочки бамбуковые в индивидуальной упаковке '][total[total['title'] == 'палочки бамбуковые в индивидуальной упаковке ']['is_additional'] == 0]

,order_id,product_id,count,customer_id,is_additional,title,counter
32073,13919737,4478,1.0,498592,0,палочки бамбуковые в индивидуальной упаковке,1
35687,13941386,4478,2.0,341697,0,палочки бамбуковые в индивидуальной упаковке,2
36402,13943089,4478,2.0,193632,0,палочки бамбуковые в индивидуальной упаковке,2
37153,13945197,4478,3.0,401813,0,палочки бамбуковые в индивидуальной упаковке,3

In [55]:
total[total['title'] == 'нож черный'][total[total['title'] == 'нож черный']['is_additional'] == 0]

,order_id,product_id,count,customer_id,is_additional,title,counter
33244,13923502,4816,1.0,1722770,0,нож черный,1

In [56]:
total[total['title'] == 'вилка черная'][total[total['title'] == 'вилка черная']['is_additional'] == 0]

,order_id,product_id,count,customer_id,is_additional,title,counter
33243,13923502,4817,1.0,1722770,0,вилка черная,1

In [57]:
total[total['order_id'] == '13919737']

,order_id,product_id,count,customer_id,is_additional,title,counter
32069,13919737,3716,1.0,498592,0,ролл филадельфия; шт (жизнь март),1
32070,13919737,5933,1.0,498592,0,детокс киви-банан 300мл,1
32071,13919737,3701,1.0,498592,0,имбирь; порц,1
32072,13919737,3702,1.0,498592,0,васаби; порц,1
32073,13919737,4478,1.0,498592,0,палочки бамбуковые в индивидуальной упаковке,1

Оказалось 6 товаров в 5 заказах, где были основным товаром наши допы. В данном случае считаю стоит оставить, как есть. Ведь данные позици могут быть основнмы товаром также. (вообще в реальной задаче, я бы также уточнил у руководителя, что с такими данными принято делать)

In [58]:
def exercise2(df, column):
    """
    Возвращает датафрейм с топ10 кол-ом основных товаров по каждому допу.
    """
    
    # Фильтруем доп column по таблице, 
    # затем считаем кол-во каждого товара по всем заказам
    # и после сортировки выводим топ-10
    
    new_df = df[df[column]>0].iloc[:,8:]\
    .sum()\
    .sort_values(ascending=False)\
    .head(10)

    
    return pd.DataFrame(new_df, 
                        columns=['кол-во заказов с '+column.replace('_x','')])\
                        .reset_index()\
                        .rename(columns={'title':'название продукта'})

In [59]:
# создаем словарь для доп. товроав и таблиц с топ-10 
answer2 ={}

In [60]:
for col in df2.columns[:8]:
    answer2[col.replace('_x','')]=exercise2(df2, col)

In [61]:
for i,y in  answer2.items():
    display(i)
    display(y)
    print('------------\n')

'вилка черная'

,название продукта,кол-во заказов с вилка черная
0,соевый соус; порц,412
1,письмо новому клиенту,203
2,суп-лапша куриный; шт,164
3,картофельный крем-суп с беконом; шт,158
4,имбирь; порц,150
5,онигири с куриным филе в соусе спайси жизньмарт,148
6,блинчик с ветчиной и сыром 100гр,142
7,онигири с сурими жизньмарт,127
8,васаби; порц,124
9,чизкейк банановый 100г,121

------------

'ложка черная'

,название продукта,кол-во заказов с ложка черная
0,соевый соус; порц,226
1,суп-лапша куриный; шт,213
2,картофельный крем-суп с беконом; шт,201
3,письмо новому клиенту,133
4,чизкейк банановый 100г,122
5,онигири с куриным филе в соусе спайси жизньмарт,102
6,блинчик с ветчиной и сыром 100гр,102
7,борщ с говядиной; шт,84
8,онигири с сурими жизньмарт,77
9,торт медовый,74

------------

'нож черный'

,название продукта,кол-во заказов с нож черный
0,соевый соус; порц,136
1,письмо новому клиенту,91
2,блинчик с ветчиной и сыром 100гр,85
3,онигири с куриным филе в соусе спайси жизньмарт,64
4,картофельный крем-суп с беконом; шт,64
5,чизкейк банановый 100г,61
6,суп-лапша куриный; шт,59
7,куриные наггетсы с дольками запеченного картофеля,55
8,онигири с сурими жизньмарт,52
9,грудка куриная с ананасами под сыром с картофе...,43

------------

'палочки бамбуковые в индивидуальной упаковке '

,название продукта,кол-во заказов с палочки бамбуковые в индивидуальной упаковке
0,соевый соус; порц,436
1,имбирь; порц,217
2,васаби; порц,184
3,ролл филадельфия; шт (жизнь март),121
4,ролл сливочный с лососем; шт (жизнь март),92
5,ролл с лососем и огурцом; шт (жизньмарт),89
6,ролл тортилья с цыпленком гриль; шт (жизнь март),82
7,письмо новому клиенту,79
8,ролл чукка с снежным крабом; шт (жизньмарт),73
9,ролл сурими со сливочным сыром,67

------------

'палочки бамбуковые стм'

,название продукта,кол-во заказов с палочки бамбуковые стм
0,соевый соус; порц,276
1,имбирь; порц,141
2,васаби; порц,126
3,ролл филадельфия; шт (жизнь март),100
4,ролл с лососем и огурцом; шт (жизньмарт),65
5,ролл сливочный с лососем; шт (жизнь март),63
6,ролл тортилья с цыпленком гриль; шт (жизнь март),53
7,письмо новому клиенту,51
8,ролл сурими со сливочным сыром,47
9,ролл чукка с снежным крабом; шт (жизньмарт),43

------------

'перец порционный жизньмарт 0;25гр;  шт '

,название продукта,кол-во заказов с перец порционный жизньмарт 0;25гр; шт
0,соевый соус; порц,119
1,суп-лапша куриный; шт,75
2,картофельный крем-суп с беконом; шт,68
3,письмо новому клиенту,58
4,онигири с сурими жизньмарт,50
5,салат сельдь под шубой; шт,41
6,торт медовый,40
7,люля-кебаб из курицы в/у 150г,39
8,васаби; порц,38
9,онигири с куриным филе в соусе спайси жизньмарт,37

------------

'сахар порционный жизньмарт 5гр; шт'

,название продукта,кол-во заказов с сахар порционный жизньмарт 5гр; шт
0,капучино доставка,40
1,латте доставка,30
2,молоко обычное 200мл,28
3,молоко обычное 270мл,19
4,корица для кофе,14
5,онигири с сурими жизньмарт,12
6,соевый соус; порц,10
7,молоко банановое 200мл,10
8,смесь для чая розмарин - смородина п/ф,9
9,смесь для чая малина - имбирь п/ф,9

------------

'соль порционная жизньмарт 1гр; шт '

,название продукта,кол-во заказов с соль порционная жизньмарт 1гр; шт
0,соевый соус; порц,131
1,суп-лапша куриный; шт,85
2,картофельный крем-суп с беконом; шт,64
3,письмо новому клиенту,62
4,онигири с сурими жизньмарт,55
5,чизкейк банановый 100г,43
6,блинчик с ветчиной и сыром 100гр,40
7,васаби; порц,39
8,имбирь; порц,38
9,салат сельдь под шубой; шт,37

------------

## Нужно получить список гостей, которые заказывают слишком много доп.продукции: количество доп.продукции на один основной продукт в три раза выше среднего. Интересуют только покупатели, совершившие три и более заказов.

Принцип:
* выделим пользоватлей с 3 и более заказми
* сводная таблица сгруппированная customer_id>=3 и подсчет кол-ва доп. 
* сводная таблица сгруппированная customer_id >=3и подсчет кол-ва основных товаров
* вот тут возникает вопрос, как нужно рассматривать:
  1. по всем доп продукциям среднее и сравнивать по каждому клиенту
  2. либо по каждой доп. продукции среднее и сравнивать по каждому клиенту

In [62]:
customer_CUO = total.pivot_table(
    index='customer_id',
    values='order_id',
    aggfunc='nunique',
    fill_value=0
).reset_index()

In [63]:
customer_CUO

     customer_id  order_id
0        1000261         2
1        1000561         4
2        1001019         1
3        1001175         1
4        1001229         3
...          ...       ...
4839      997831         2
4840       99817         3
4841      998219         1
4842      998241         1
4843       99996         2

[4844 rows x 2 columns]

In [64]:
# пользователи с 3 и более заказами
customer_CUO_m3 = customer_CUO[customer_CUO['order_id']>=3].rename(columns={'order_id':'кол-во заказов'})

In [65]:
customer_CUO_m3

     customer_id  кол-во заказов
1        1000561               4
4        1001229               3
5        1002212               6
17       1005619               5
24       1008864               3
...          ...             ...
4826      995405               3
4833      996457               4
4836      997549               3
4837       99759               4
4840       99817               3

[840 rows x 2 columns]

In [66]:
ad = addit_product.pivot_table(
    index=['customer_id'],
    columns='title',
    values='counter',
    aggfunc='sum',
    fill_value=0
).reset_index()
ad

title,customer_id,вилка черная,ложка черная,нож черный,палочки бамбуковые в индивидуальной упаковке,палочки бамбуковые стм,перец порционный жизньмарт 0;25гр; шт,сахар порционный жизньмарт 5гр; шт,соль порционная жизньмарт 1гр; шт
0,1000261,7,3,7,0,0,6,0,6
1,1001019,2,1,2,0,0,0,0,0
2,1003054,1,0,1,0,0,1,0,1
3,1003909,3,0,0,0,0,0,0,1
4,1005487,5,2,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
1622,995405,11,7,7,0,0,11,0,11
1623,997307,1,1,0,0,0,1,0,1
1624,99759,3,2,0,0,0,0,0,0
1625,99817,0,1,0,0,2,0,0,2
1626,99996,0,2,0,0,0,0,0,0

In [67]:
customer_add = customer_CUO_m3.merge(ad, 
                                      on='customer_id', 
                                      how='left').fillna(0)#dropna()

In [68]:
customer_add['Общее кол-во доп. товаров'] = customer_add.iloc[:,2:].sum(axis=1)

In [69]:
# таблица для доп. товаров с подсчитанным общим кол-ом
customer_add

,customer_id,кол-во заказов,вилка черная,ложка черная,нож черный,палочки бамбуковые в индивидуальной упаковке,палочки бамбуковые стм,перец порционный жизньмарт 0;25гр; шт,сахар порционный жизньмарт 5гр; шт,соль порционная жизньмарт 1гр; шт,Общее кол-во доп. товаров
0,1000561,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1001229,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1002212,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1005619,5,1.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,5.0
4,1008864,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
835,995405,3,11.0,7.0,7.0,0.0,0.0,11.0,0.0,11.0,47.0
836,996457,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
837,997549,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
838,99759,4,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
839,99817,3,0.0,1.0,0.0,0.0,2.0,0.0,0.0,2.0,5.0

In [70]:
ma= main_product.pivot_table(
                                        index='customer_id',
                                        columns='product_id',
                                        values='counter',
                                        aggfunc='sum',
                                        fill_value=0
                                    ).reset_index()

In [71]:
ma

product_id,customer_id,3265,3266,3267,3268,3281,3282,3284,3285,3286,...,7919,7933,7941,7943,7950,7953,7954,7969,7970,7971
0,1000261,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1000561,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1001019,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1001175,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1001229,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4839,997831,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4840,99817,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4841,998219,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4842,998241,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4843,99996,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
customer_main = customer_CUO_m3.merge(ma, 
                                      on='customer_id', 
                                      how='left').fillna(0)#dropna()

In [73]:
customer_main

,customer_id,кол-во заказов,3265,3266,3267,3268,3281,3282,3284,3285,...,7919,7933,7941,7943,7950,7953,7954,7969,7970,7971
0,1000561,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001229,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1002212,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1005619,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1008864,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,995405,3,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
836,996457,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
837,997549,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
838,99759,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
839,99817,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [74]:
customer_main['Общее кол-во основных товаров'] = customer_main.iloc[:,2:].sum(axis=1)

In [75]:
customer_data = customer_add.merge(customer_main, 
                   on=['customer_id','кол-во заказов'])

### 1 вариант, если мы рассматриваем по общему кол-ву

In [76]:
customer1 = customer_data[['customer_id',
  'кол-во заказов',
  'Общее кол-во доп. товаров',
  'Общее кол-во основных товаров']]

In [77]:
customer1['mean'] = customer1['Общее кол-во доп. товаров']/customer1['Общее кол-во основных товаров']

/var/folders/pv/g8m2jpc54kn66p8j_0r5fh9c0000gn/T/ipykernel_2447/2172010708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer1['mean'] = customer1['Общее кол-во доп. товаров']/customer1['Общее кол-во основных товаров']

я посчитал среднее кол-во доп. товаров на 1 основной для каждого customer_id

In [78]:
customer1

,customer_id,кол-во заказов,Общее кол-во доп. товаров,Общее кол-во основных товаров,mean
0,1000561,4,0.0,15,0.000000
1,1001229,3,0.0,22,0.000000
2,1002212,6,0.0,42,0.000000
3,1005619,5,5.0,37,0.135135
4,1008864,3,0.0,11,0.000000
...,...,...,...,...,...
835,995405,3,47.0,28,1.678571
836,996457,4,0.0,34,0.000000
837,997549,3,0.0,15,0.000000
838,99759,4,5.0,20,0.250000
839,99817,3,5.0,16,0.312500

Сейчас нам нужно посчитать среднее на 1 товар по всем данным

In [79]:
# добавляем общее кол-во допов по каждому заказу
df1['total_count_add'] = df1.iloc[:,:-1].sum(axis=1)

In [80]:
mean_add_to_main = df1[['total_count_add','total_count_main']].sum().iloc[0]/df1[['total_count_add','total_count_main']].sum().iloc[1]

In [81]:
print(f'среднее кол-во допов на 1 товар по всем данным: {mean_add_to_main}')

среднее кол-во допов на 1 товар по всем данным: 0.7175091475809731

In [82]:
answer_3_1 = customer1[customer1['mean'] >= 3*mean_add_to_main]

Ниже прежставлена таблица с гостями, которые заказывают в 3 раза больше среднего доп. продукции

In [83]:
answer_3_1

,customer_id,кол-во заказов,Общее кол-во доп. товаров,Общее кол-во основных товаров,mean
106,1254019,3,42.0,12,3.500000
156,1387897,4,94.0,19,4.947368
195,1561950,7,69.0,30,2.300000
218,1613186,3,100.0,41,2.439024
250,1696232,3,127.0,31,4.096774
483,420001,5,112.0,35,3.200000
620,627775,3,42.0,17,2.470588
655,686802,3,133.0,23,5.782609
744,831703,3,50.0,20,2.500000
767,862611,4,37.0,16,2.312500
820,965143,4,73.0,23,3.173913

In [84]:
print('id гостей, которые заказывают в 3 раза больше среднего доп. продукции:\n',*list(answer_3_1['customer_id']))

id гостей, которые заказывают в 3 раза больше среднего доп. продукции:
 1254019 1387897 1561950 1613186 1696232 420001 627775 686802 831703 862611 965143

### 2 вариант, по каждому доп. товару

In [85]:
asnwer1_df.T['ложка черная'].iloc[0]*3

1.001497005988024

In [86]:
# сделаем итерацию по доп. товарам с добавлнеием новых столбцов
for col in customer_data.columns[2:10]:
    customer_data['среднее_'+col]= customer_data[col]/ customer_data['Общее кол-во основных товаров']

In [87]:
customer_data.iloc[:,:2]

    customer_id  кол-во заказов
0       1000561               4
1       1001229               3
2       1002212               6
3       1005619               5
4       1008864               3
..          ...             ...
835      995405               3
836      996457               4
837      997549               3
838       99759               4
839       99817               3

[840 rows x 2 columns]

In [88]:
# таблица по каждому клиенту со средними значениями по каждому допу
answer_3_2 =pd.concat([customer_data.iloc[:,:1],
           customer_data.iloc[:,-8:]
          ],  
          axis=1)

In [89]:
answer3_dict = {}

In [90]:
for col in asnwer1_df.index:
    
    df = answer_3_2[answer_3_2['среднее_'+col]>= 3*asnwer1_df.T[col].iloc[0]]
    answer3_dict[col] = df

In [91]:
# выведем custimer_id, у которых в 3 рраза больше среднего по определенном допу к основному товару.
for i,y in  answer3_dict.items():
    display(i)
    display(y)
    print('------------\n')

'вилка черная'

,customer_id,среднее_вилка черная,среднее_ложка черная,среднее_нож черный,среднее_палочки бамбуковые в индивидуальной упаковке,среднее_палочки бамбуковые стм,среднее_перец порционный жизньмарт 0;25гр; шт,среднее_сахар порционный жизньмарт 5гр; шт,среднее_соль порционная жизньмарт 1гр; шт
156,1387897,1.842105,1.315789,1.578947,0.0,0.105263,0.052632,0.0,0.052632
220,1619265,1.250000,0.250000,0.150000,0.0,0.000000,0.200000,0.0,0.200000
655,686802,1.304348,1.304348,1.217391,0.0,0.478261,0.695652,0.0,0.782609

------------

'сахар порционный жизньмарт 5гр; шт'

,customer_id,среднее_вилка черная,среднее_ложка черная,среднее_нож черный,среднее_палочки бамбуковые в индивидуальной упаковке,среднее_палочки бамбуковые стм,среднее_перец порционный жизньмарт 0;25гр; шт,среднее_сахар порционный жизньмарт 5гр; шт,среднее_соль порционная жизньмарт 1гр; шт
219,1616639,0.058824,0.0,0.0,0.0,0.0,0.0,1.176471,0.0

------------

'нож черный'

,customer_id,среднее_вилка черная,среднее_ложка черная,среднее_нож черный,среднее_палочки бамбуковые в индивидуальной упаковке,среднее_палочки бамбуковые стм,среднее_перец порционный жизньмарт 0;25гр; шт,среднее_сахар порционный жизньмарт 5гр; шт,среднее_соль порционная жизньмарт 1гр; шт
156,1387897,1.842105,1.315789,1.578947,0.0,0.105263,0.052632,0.0,0.052632
250,1696232,0.967742,1.129032,1.129032,0.0,0.000000,0.387097,0.0,0.483871
655,686802,1.304348,1.304348,1.217391,0.0,0.478261,0.695652,0.0,0.782609

------------

'ложка черная'

,customer_id,среднее_вилка черная,среднее_ложка черная,среднее_нож черный,среднее_палочки бамбуковые в индивидуальной упаковке,среднее_палочки бамбуковые стм,среднее_перец порционный жизньмарт 0;25гр; шт,среднее_сахар порционный жизньмарт 5гр; шт,среднее_соль порционная жизньмарт 1гр; шт
156,1387897,1.842105,1.315789,1.578947,0.0,0.105263,0.052632,0.0,0.052632
250,1696232,0.967742,1.129032,1.129032,0.0,0.000000,0.387097,0.0,0.483871
655,686802,1.304348,1.304348,1.217391,0.0,0.478261,0.695652,0.0,0.782609

------------

'перец порционный жизньмарт 0;25гр;  шт '

Empty DataFrame
Columns: [customer_id, среднее_вилка черная, среднее_ложка черная, среднее_нож черный, среднее_палочки бамбуковые в индивидуальной упаковке , среднее_палочки бамбуковые стм, среднее_перец порционный жизньмарт 0;25гр;  шт , среднее_сахар порционный жизньмарт 5гр; шт, среднее_соль порционная жизньмарт 1гр; шт ]
Index: []

------------

'соль порционная жизньмарт 1гр; шт '

Empty DataFrame
Columns: [customer_id, среднее_вилка черная, среднее_ложка черная, среднее_нож черный, среднее_палочки бамбуковые в индивидуальной упаковке , среднее_палочки бамбуковые стм, среднее_перец порционный жизньмарт 0;25гр;  шт , среднее_сахар порционный жизньмарт 5гр; шт, среднее_соль порционная жизньмарт 1гр; шт ]
Index: []

------------

'палочки бамбуковые стм'

Empty DataFrame
Columns: [customer_id, среднее_вилка черная, среднее_ложка черная, среднее_нож черный, среднее_палочки бамбуковые в индивидуальной упаковке , среднее_палочки бамбуковые стм, среднее_перец порционный жизньмарт 0;25гр;  шт , среднее_сахар порционный жизньмарт 5гр; шт, среднее_соль порционная жизньмарт 1гр; шт ]
Index: []

------------

'палочки бамбуковые в индивидуальной упаковке '

Empty DataFrame
Columns: [customer_id, среднее_вилка черная, среднее_ложка черная, среднее_нож черный, среднее_палочки бамбуковые в индивидуальной упаковке , среднее_палочки бамбуковые стм, среднее_перец порционный жизньмарт 0;25гр;  шт , среднее_сахар порционный жизньмарт 5гр; шт, среднее_соль порционная жизньмарт 1гр; шт ]
Index: []

------------